@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim.Claims;
@using Newtonsoft.Json;
@using X.PagedList.Mvc.Core;
@using X.PagedList;
@model IPagedList<ClaimMaster>


<div class="add-member-detail">
    <div class="policy-wrapper">
        <div class="basic-detail" style="background:none !important">
            <h2 class="heading">
                @_localizer["Surveyors"].Value
                
            </h2>
            <div class="search-member">
                <form method="post" asp-action="SearchSurveyors" asp-controller="Surveyor" style="display:flow-root">
                    <div class="search-filter-wrapper">
                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["ClaimNo"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="60" name="claimno" placeholder="Search By Claim No"
                                       value="">
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["NationalId"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" id="txtnationalid" maxlength="10" name="nationalid" placeholder="Search By National Id"
                                       value="">
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["MobileNo"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" id="txtmobile" name="mobile" maxlength="9" placeholder="Search By Mobile No 5XXXXX"
                                       value="">
                            </div>
                        </div>
                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["ChasisNo"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="40" name="chassis" placeholder="Search By Chasis No"
                                       value="">
                            </div>
                        </div>
                    </div>

                    <div class="search-filter-wrapper">


                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["PolicyNo"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/empty-file.svg" class="search-icon" alt="">
                                </div>
                                <input type="text" class="input-box" autocomplete="off" maxlength="40" name="policy" placeholder="Search By Policy No"
                                       value="">
                            </div>
                        </div>
                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["Branch"].Value
                                
                            </span>

                            <div class="search-input-box-wrapper">
                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/List.png" class="search-icon" alt="">
                                </div>
                                <select class="common-dropdown Full" id="ddlFilter" name="Filter">
                                    <option value="">
                                        @_localizer["SelectBranch"].Value
                                        
                                    </option>
                                    <option value="1">
                                        @_localizer["Active"].Value
                                        
                                    </option>
                                    <option value="0">
                                        @_localizer["In-Active"].Value
                                        
                                    </option>
                                </select>
                            </div>
                        </div>

                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["RegisteredFrom"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtFrom" name="From" type="text" value="">
                            </div>
                        </div>


                        <div class="search-wrapper">
                            <span class="label">
                                @_localizer["RegisteredTo"].Value
                                
                            </span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtTo" name="To" type="text" value="">
                            </div>
                        </div>

                    </div>
                    <div class="search-heading-wrap" style="float: right;margin-top: 10px;">

                        <button class="button button-secondary" type="submit">
                            @_localizer["Search"].Value
                            
                        </button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @if (Model!=null && Model.Count > 0)
    {
        <div class="policy-members">
            <div class="heading-card">
                <h2 class="heading">
                    @_localizer["AllClaims"].Value
                    
                </h2>
            </div>
            <div class="transaction-details">
                <table class="universal-table">
                    <tr>
                        <th>
                            @_localizer["ClaimSegment"].Value
                            
                        </th>
                        <th>
                            @_localizer["ClaimantName"].Value
                            
                        </th>
                        <th>
                            @_localizer["PolicyNumber"].Value
                            
                        </th>
                        <th>
                            @_localizer["Make"].Value
                            
                        </th>
                        <th>
                            @_localizer["Model"].Value
                            
                        </th>
                        <th>
                            @_localizer["Chassis"].Value
                            
                        </th>
                        <th>
                            @_localizer["CurrentAction"].Value
                            
                        </th>
                        <th>
                            @_localizer["RegisteredDate"].Value
                            
                        </th>
                        <th>
                            @_localizer["AssignTo"].Value
                            
                        </th>
                        <th>
                            @_localizer["Actions"].Value
                            
                        </th>

                    </tr>


                    @foreach (var clm in Model)
                    {

                        <tr>
                            @{
                                ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                    {
                        PolicyId = clm.claims.PolicyId.HasValue ? clm.claims.PolicyId.Value : 0,
                        ClaimId = clm.claims.Id
                    };
                            }
                            <td class="tran"><a href="@Url.Action("SurveyorEntry","Surveyor",new{obj=MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))})">@clm.claims.ClaimNo</a></td>
                            <td>@clm.claimants.ClaimantName</td>
                            <td>@clm.productionInfo.PolicyNumber</td>
                            <td>@clm.vehiclesInfo.MakeDesc</td>
                            <td>@clm.vehiclesInfo.ModelDesc</td>
                            <td>@clm.vehiclesInfo.ChassisNo</td>
                            <td>@clm.claimants.LastClaimantAction</td>
                            <td>@HelpersDate.FormatDate(clm.claims.RegistrationDate)</td>
                            <td class="tran"><a href="#" onclick="SurveyorAssign(@clm.claims.Id,@clm.claimants.Id)">Assign</a></td>
                            <td class="tran"><a href="#" onclick="SurveyorActions(@clm.claims.Id,@clm.claimants.Id)">Action</a></td>

                        </tr>


                    }
                </table>

            @Html.PagedListPager((IPagedList)Model,Page=>Url.Action("Index","Surveyor",new {Page}))
            Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount Claims
            </div>
        </div>
    }
    else
    {
        <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
            <span class="ui-icon ui-icon-info" style="float: left"></span>
            <span>
                @_localizer["Noresultsfound."].Value
                
            </span>
        </div>
    }
</div>
<div class="aside-right">
    <div class="inner-wrapper">
        <div class="vehicle-item">
            <div class="vehicle-header">
                <img src="/assets/motor/motor.svg" class="vehicle-icon" />
                <div class="vehicle-info">
                    <span class="vehicle-name">vehicle.Vehicle.MakeDesc vehicle.Vehicle.ModelDesc / vehicle.Vehicle.SequanceNo vehicle.Vehicle.CustomNo</span>
                    <span class="vehicle-no" style="text-transform:uppercase">Plate Number : vehicle.Vehicle.PlateNo</span>
                </div>
            </div>
            <div class="vehicle-basic-body">
                <ul class="detail-list">
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">
                                @_localizer["PolicyNo"].Value
                                
                            </span>
                            <h3 class="value">policy.policy.PolicyNumber</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">
                                @_localizer["EffectiveDate"].Value
                                
                            </span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyEffectiveDate)</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">
                                @_localizer["YearofManufacturing"].Value
                                
                            </span>
                            <h3 class="value">vehicle.Vehicle.ManufactureYear</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">
                                @_localizer["ExpiryDate"].Value
                                
                            </span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyExpiryDate)</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>

<div class="common-slide-popup" id="SurveyorActions"></div>
<div class="edit-member-id-popup" id="SurveyorAssign"></div>

<script>
    $('#txtFrom').ForceDateEntry();
    $('#txtTo').ForceDateEntry();
</script>