@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim.WorkFlow;
@model DocumentInfo
@{
    List<int> ints=(List<int>) ViewData["ints"];
}
<div class="popup-body-wrapper">
    <div class="popup-header">
        <div class="popup-header-inner">
            <h3 class="popup-title"> @_localizer["DocumentsManagment"].Value </h3>
            <div class="close-popup-icon" onclick="Close('edit-Document-popup')">
                <img class="close-icon" src="/assets/icons/close.svg">
            </div>
        </div>
        <p class="popup-description">@_localizer["ControldocumentsperModule"].Value </p>
    </div>
    <form asp-action="UpdateDocument" asp-controller="Documents" method="post">
        <div class="popup-body">
            <div class="detailed edit">
                <div class="detailed-ele">
                    <div class="detailed-desc">

                        <input id="txtId" name="Id" type="hidden" value="@Model.Id">
                        <!-- <h4 class="title">Nationality</h4> -->
                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <input class="form-inputbox" id="txtDcumentName" autocomplete="off" name="Name" type="text" required value="@Model.Name">
                                <label class="form-label non-icon" for="txtDcumentName">@_localizer["DcumentName"].Value </label>
                            </div>
                        </div>
                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <select class="form-inputbox" required name="ModuleId" id="ddlModuleId">
                                    <option value="">@_localizer["AllModules"].Value </option>
                                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Claim)">@MotorClaims.Models.Enums.DocumnetType.Claim</option>
                                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)">@MotorClaims.Models.Enums.DocumnetType.Claimant</option>
                                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Fraud)">@MotorClaims.Models.Enums.DocumnetType.Fraud</option>
                                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Reserve)">@MotorClaims.Models.Enums.DocumnetType.Reserve</option>
                                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Payment)">@MotorClaims.Models.Enums.DocumnetType.Payment</option>
                                </select>
          
                            </div>
                        </div>


                            <div class="form-field-wrapper" id="divClaimResult">
                            <div class="form-input-wrapper" style="display: inline-block;">

@{
    bool Exist1 = ints.Contains(1);
    bool Exist2 = ints.Contains(2);
    bool Exist3 = ints.Contains(3);
    bool Exist4 = ints.Contains(4);
    bool Exist5 = ints.Contains(5);
}
                                <span>@_localizer["Bodaly"].Value </span><input type="checkbox" value="1" name="chClaimResult" id="chClaimResult1" @(Exist1 ? "checked" : "") />
                                <span>@_localizer["Death"].Value </span><input type="checkbox" value="2" name="chClaimResult" id="chClaimResult2" @(Exist2 ? "checked" : "") />
                                <span>@_localizer["Vehicle"].Value </span><input type="checkbox" value="3" name="chClaimResult" id="chClaimResult3" @(Exist3 ? "checked" : "") /></br>
                                <span>@_localizer["PrivateProperty"].Value </span><input type="checkbox" value="4" name="chClaimResult" id="chClaimResult4" @(Exist4 ? "checked" : "") />
                                <span>@_localizer["PublicProperty"].Value </span><input type="checkbox" value="5" name="chClaimResult" id="chClaimResult5" @(Exist5 ? "checked" : "") />
                             
                             
                             
                             <input type="hidden" id="txtClaimResult"  name="ClaimResult" value="@Model.ClaimResult"/>
                            </div>
                        </div>


                        <div class="vehicle-owner-grid">
                            <label for="radio-card-v2-11" class="radio-card-v2" style="min-width:50% !important">
                                <input type="radio" value="true" name="IsRequired" id="radio-card-v2-11" @(Model.Id > 0 ? (Model.IsRequired ? "checked" : "") : "checked") />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                        <h4 class="title">@_localizer["Required"].Value </h4>
                                    </div>
                                </div>
                            </label>
                            <!-- /.radio-card -->

                            <label for="radio-card-v2-12" class="radio-card-v2" style="min-width:50% !important">
                                <input type="radio" value="false" name="IsRequired" id="radio-card-v2-12" @(!Model.IsRequired ? "checked" : "") />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                        <h4 class="title">@_localizer["Optional"].Value </h4>
                                    </div>
                                </div>
                            </label>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <div class="popup-footer">
            <button class="button button-secondary" type="button" onclick="Close('edit-Document-popup')">Cancel</button>
            <button class="button button-secondary" type="submit">@_localizer["Submit"].Value </button>
        </div>
    </form>
</div>

<script>
    $(function () {
        $("#divClaimResult").hide();

        if('@Model.Id'>0 && '@Model.ModuleId'=='@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)'){
   $("#divClaimResult").show();
        }
        $('#ddlModuleId').on('change', function() {
  if(this.value=='@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)')
  {
        //$("#txtClaimResult").prop('required', true);
        $("#divClaimResult").show();
  }else{
      $("#divClaimResult").hide();
       //$("#txtClaimResult").prop('required', false);
  }
});
     $("[name='chClaimResult']").on('change', function() {
   if(this.checked) {
           $('#txtClaimResult').val(  $('#txtClaimResult').val()+this.value+',');
        }else{
            var tex=$('#txtClaimResult').val().replace(this.value+',','');
            $('#txtClaimResult').val(tex);
        }
});
        $('#ddlModuleId').val('@Model.ModuleId');
    });
</script>