@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@inject IViewLocalizer _localizer
@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@model string

<input type="hidden" id="txtStatus" value="@ViewData["State"]"/>
<input type="hidden" name="Email" value="@Model"/>
<div class="auth-inner-wrapper">
    <div class="auth-form-component">
        <h2 class="auth-heading">@_localizer["ChangePassword"].Value </h2>
        <form class="form-wrapper" method="post" asp-controller="Authenticator" asp-action="UpdatePassword">
            <input type="hidden" name="Email" value="@Model"/>
            <div class="form-field-wrapper">
                <div class="form-input-wrapper">
                    <img src="~/assets/Content/Images/Mail.svg" class="icon" />
                    <input class="form-inputbox" id="txtPassword" autocomplete="off" name="Password" type="password" required />
                    <label class="form-label" for="txtPassword">@_localizer["Password"].Value</label>


                </div>
            </div>
            <div class="form-field-wrapper">
                <div class="form-input-wrapper">
                    <img src="~/assets/Content/Images/Mail.svg" class="icon" />
                    <input class="form-inputbox" id="txtConPassword" autocomplete="off" name="ConPassword" type="password" required />
                    <label class="form-label" for="txtConPassword">@_localizer["ConfirmPassword"].Value</label>


                </div>
            </div>

            <div class="submit-button-wrapper">
                <button class="button button-primary" type="submit">@_localizer["RESET"].Value</button>

            </div>

        </form>
        <div class="forgot-password">

            <a href="@Url.Action("Login", "Authenticator")" class="forgot-password-link">@_localizer["Login"].Value</a>
        </div>
    </div>
</div>


<script>
$(function() {
    if ($('#txtStatus').val() == "Error") {
        ErrorAlert('@ViewData["Error"]');
    }
})
</script>



