@using Newtonsoft.Json;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@model CORE.DTOs.APIs.MotorClaim.ClaimSearchResult
@{
    Search search = (Search)ViewData["search"];
    int i = 0, j = 0;
}
<div class="page-wrapper">
    <div class="left-content">
        <div class="policy-detail-wrapper">
            <div class="basic-detail" style="background:none !important">
                <div class="search-member">
                    <div class="search-heading-wrap">
                        <div class="heading-card">
                            <h2 class="heading">@_localizer["ClaimsSearch"].Value</h2>
                        </div>

                    </div>
                    <form asp-controller="Search" method="post">
                        <div class="search-filter-wrapper">
                            <div class="search-wrapper">
                                <span class="label">@_localizer["PlateNo"].Value</span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" name="plate" maxlength="20" placeholder="@_localizer["SearchByPlateNo"].Value"
                                           value="@search.plate">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">@_localizer["SequanceNo"].Value</span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" id="txtsequence" maxlength="20" name="sequence" placeholder="@_localizer["SearchBySequanceNo"].Value"
                                           value="@search.sequence">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">@_localizer["ClaimNo"].Value</span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" maxlength="60" name="claimno" placeholder=@_localizer["SearchByClaimNo"].Value
                                           
                                           value="@search.claimno">
                                </div>
                            </div>
                        </div>

                        <div class="search-filter-wrapper">
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["NationalId"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" id="txtnationalid" maxlength="10" name="nationalid" placeholder=@_localizer["SearchByNationalId"].Value
                                           
                                           value="@search.nationalid">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["MobileNo"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" id="txtmobile" name="mobile" maxlength="9" placeholder=@_localizer["SearchByMobileNo5XXXXX"].Value
                                           
                                           value="@search.mobile">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["ComplaintNo"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" maxlength="20" name="complain" placeholder=@_localizer["SearchByComplaintNo"].Value
                                           
                                           value="@search.complain">
                                </div>
                            </div>
                        </div>


                        <div class="search-filter-wrapper">
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["CustomNo"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" maxlength="20" id="txtcustom" name="custom" placeholder=@_localizer["SearchByCustomNo"].Value
                                           
                                           value="@search.custom">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["ChasisNo"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" maxlength="40" name="chassis" placeholder=@_localizer["SearchByChasisNo"].Value
                                           
                                           value="@search.chassis">
                                </div>
                            </div>
                            <div class="search-wrapper">
                                <span class="label">
                                    @_localizer["PolicyNo"].Value
                                    
                                </span>
                                <div class="search-input-box-wrapper">

                                    <div class="search-icon-wrapper">
                                        <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                    </div>
                                    <input type="text" class="input-box" autocomplete="off" maxlength="40" name="policy" placeholder=@_localizer["SearchByPolicyNo"].Value
                                           
                                           value="@search.policy">
                                </div>
                            </div>
                        </div>

                        <div class="search-heading-wrap" style="padding-top:10px">
                            <button class="button button-secondary" style="width:100%" asp-action="Search">
                                @_localizer["Search"].Value
                                
                            </button>
                        </div>
                    </form>
                </div>
            </div>
            @if (Model != null && Model.Productions != null && Model.Productions.Count > 0)
            {

                <div class="policy-members">
                    <div class="heading-card">
                        <h2 class="heading">
                            @_localizer["AllVehicles"].Value
                            
                        </h2>
                    </div>
                    @foreach (var item in Model.Productions)
                    {
                        <div class="accordion-wrapper">
                            <div class="accordion-item-wrapper">
                                <div class="accordion-header" onclick="memberAccordion('Vehicle_@i')">
                                    <div class="accordion-collapse-icon-wrapper">
                                        <img class="icon-minus" src="/assets/icons/circle-minus.svg">
                                        <img class="icon-plus" src="/assets/icons/circle-plus.svg">
                                    </div>
                                    <div class="accordion-heaing-content">
                                        <div class="heading-wrap">
                                            <h2 class="heading">@item.policy.PolicyNumber</h2>
                                        </div>
                                        <ul class="detail-basic">
                                            <li class="detailed-item">
                                                <span class="label">
                                                    @_localizer["BusinessChannel:"].Value
                                                    
                                                </span>
                                                <span class="value">@item.policy.BusinessType</span>
                                            </li>
                                            <li class="detailed-item">
                                                <span class="label">
                                                    @_localizer["Policytype:"].Value
                                                    
                                                </span>
                                                <span class="value">@item.policy.PolicyTypeName</span>
                                            </li>
                                            <li class="detailed-item">
                                                <span class="label">
                                                    @_localizer["OwnerName:"].Value
                                                    
                                                </span>
                                                <span class="value">@item.policy.OwnerName</span>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="class-tag">
                                        @_localizer["A"].Value
                                        
                                    </div>
                                    <div class="total-person">
                                        <img class="users-icon" src="~/assets/motor/Vehicles.png" />
                                        <span class="user-count">@item.Vehicles.Count</span>
                                    </div>
                                </div>
                                <div class="accordion-body" id="Vehicle_@(i++)">
                                    <ul class="dates-and-conpany-wrapper">
                                        <li class="column-item">
                                            <img class="support-icon" src="/assets/icons/calendar.svg" />
                                            <span class="label">
                                                @_localizer["EffectiveDate:"].Value
                                                
                                            </span>
                                            <span class="value">@HelpersDate.FormatDateNoTime(item.policy.PolicyEffectiveDate)</span>
                                        </li>
                                        <li class="column-item">
                                            <img class="support-icon" src="/assets/icons/calendar.svg" />
                                            <span class="label">Expiry date:</span>
                                            <span class="value">@HelpersDate.FormatDateNoTime(item.policy.PolicyExpiryDate)</span>
                                        </li>
                                        <li class="column-item">
                                            <img class="support-icon" src="/assets/icons/home.svg" />
                                            <span class="label">
                                                @_localizer["LesseeName:"].Value
                                                
                                            </span>
                                            <span class="value">@item.policy.LesseeName</span>
                                        </li>
                                    </ul>

                                    <div class="dependent-wrapper">
                                        <div class="dependent-header">
                                            <div class="heading-card">
                                                <h2 class="heading">
                                                    @_localizer["Vehicles"].Value
                                                    
                                                </h2>
                                            </div>
                                        </div>
                                        @foreach (var veh in item.Vehicles)
                                        {
                                            <div class="dependent-list-body">
                                                <div class="accordion-header">
                                                    <img src="/assets/motor/Vehicles.png" class="status-icon" />
                                                    <div class="accordion-heaing-content" style="width:100%;cursor:pointer" onclick="memberAccordion1('Accident_@j')">
                                                        <div class="heading-wrap">
                                                            <h2 class="heading">@veh.drivers.FirstOrDefault()?.Name</h2>
                                                            @if (veh.Vehicle.VehicleExpiryDate>=DateTime.Now)
                                                            {
                                                                <div class="class-tag">
                                                                    @_localizer["A"].Value
                                                                    
                                                                </div>
                                                            }else

                                                            {
                                                                <div class="class-tag" style="background-color:red;color:white">
                                                                    @_localizer["E"].Value
                                                                    
                                                                </div>
                                                            }

                                                            <div class="request-btn-wrapper">
                                                                @{
                                                                    ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                                                                        {
                                                                            PolicyId = item.policy.Id,
                                                                            VehicleId = veh.Vehicle.Id
                                                                        };
                                                                }
                                                                <a href="@Url.Action("Index","Claims",new{obj=MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))})" class="button button-primary" style="line-height:1rem !important">@_localizer["Select"].Value </a>
                                                            </div>
                                                            <div class="total-person">

                                                                <img class="users-icon" src="~/assets/motor/accident.png" />
                                                                <span class="user-count">@veh.lsClaims.Count</span>
                                                            </div>
                                                        </div>
                                                        <ul class="detail-basic">
                                                            <li class="detailed-item">
                                                                <img class="support-icon" src="/assets/icons/calendar.svg" />
                                                                <span class="label">
                                                                    @_localizer["EffectiveDate:"].Value
                                                                    
                                                                </span>
                                                                <span class="value">@HelpersDate.FormatDateNoTime(veh.Vehicle.VehicleEffectiveDate)</span>
                                                            </li>
                                                            <li class="detailed-item">
                                                                <span class="label">
                                                                    @_localizer["Make:"].Value
                                                                    
                                                                </span>
                                                                <span class="value">@veh.Vehicle.MakeDesc</span>
                                                            </li>
                                                            <li class="detailed-item">
                                                                <span class="label">
                                                                    @_localizer["Model:"].Value
                                                                    
                                                                </span>
                                                                <span class="value">@veh.Vehicle.ModelDesc</span>
                                                            </li>
                                                            <li class="detailed-item">
                                                                <span class="label">
                                                                    @_localizer["Khallad"].Value
                                                                    Manufacture:
                                                                </span>
                                                                <span class="value">@veh.Vehicle.ManufactureYear</span>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>

                                                @if (veh.lsClaims != null && veh.lsClaims.Count > 0)
                                                {
                                                    @foreach (var acc in veh.lsClaims)
                                                    {
                                                        <div class="dependent-list-body" id="Accident_@(j++)">
                                                            <div class="accordion-header">
                                                                <img src="/assets/motor/accident.png" class="status-icon" />
                                                                <div class="accordion-heaing-content" style="width:100%">
                                                                    <div class="heading-wrap">
                                                                        <h2 class="heading">@acc.Owner</h2>

                                                                    </div>
                                                                    <ul class="detail-basic">
                                                                        <li class="detailed-item">
                                                                            <img class="support-icon" src="/assets/icons/calendar.svg" />
                                                                            <span class="label">
                                                                                @_localizer["AccidentDate:"].Value
                                                                                
                                                                            </span>
                                                                            <span class="value">@HelpersDate.FormatDateNoTime(acc.DateOfLoss)</span>
                                                                        </li>
                                                                        <li class="detailed-item">
                                                                            <span class="label">
                                                                                @_localizer["AccidentNo:"].Value
                                                                                
                                                                            </span>
                                                                            <span class="value"> @acc.AccidentNo </span>
                                                                        </li>
                                                                        <li class="detailed-item">
                                                                            <span class="label">
                                                                                @_localizer["Status:"].Value
                                                                                
                                                                            </span>
                                                                            <span class="value">@acc.ClaimStatus</span>
                                                                        </li>
                                                                        <li class="detailed-item">
                                                                            <span class="label">
                                                                                @_localizer["ClaimNo:"].Value
                                                                                
                                                                            </span>
                                                                            <span class="value">@acc.ClaimNo</span>
                                                                        </li>
                                                                        <li class="detailed-item">
                                                                            @{
                                                                                claimSearchobj = new ClaimSearchobj()
                                                                                    {
                                                                                        PolicyId = item.policy.Id,
                                                                                        VehicleId = veh.Vehicle.Id,
                                                                                        ClaimId = acc.Id
                                                                                    };
                                                                            }
                                                                            <div class="request-btn-wrapper">
                                                                                <a href="@Url.Action("ClaimEntry","Claims",new{obj=MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))})" class="button button-primary" style="line-height:1rem !important">
                                                                                    @_localizer["Khallad"].Value
                                                                                    View
                                                                                </a>
                                                                            </div>
                                                                        </li>
                                                                    </ul>


                                                                </div>
                                                            </div>
                                                        </div>

                                                    }
                                                }



                                            </div>
                                        }


                                    </div>
                                </div>


                            </div>

                        </div>
                    }
                </div>

            }
            else
            {
                <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
                    <span class="ui-icon ui-icon-info" style="float: left"></span>
                    <span>@_localizer["Noresultsfound"].Value .</span>
                </div>
            }

        </div>
    </div>

    <div class="right-sidebar false">
        @if (Model == null)
        {
            <div class="inner-wrapper">
                <div class="membership-detail-wrapper">

                    <div class="membership-inner-wrapper">
                        <div class="membership-header">
                            <h2 class="heading-title">
                                @_localizer["PullPolicy"].Value
                                
                            </h2>
                            <p class="membership-id">
                                @_localizer["pullpolicyfromcoresystembyenteringpolicyNo#"].Value
                                
                            </p>
                        </div>
                        <div class="search-member">

                            <form asp-controller="Search" method="post">
                                <div class="search-filter-wrapper">

                                    <div class="search-wrapper" style="width:100%">
                                        <span class="label">
                                            @_localizer["PolicyNo"].Value
                                            
                                        </span>
                                        <div class="search-input-box-wrapper">

                                            <div class="search-icon-wrapper">
                                                <img src="/assets/icons/search.svg" class="search-icon" alt="">
                                            </div>
                                            <input type="text" class="input-box" name="policy" placeholder=@_localizer["Search By Policy No"].Value
                                                   
                                                   value="">
                                        </div>
                                    </div>
                                </div>

                                <div class="search-heading-wrap" style="padding-top:10px">
                                    <button class="button button-secondary" style="width:100%" asp-action="PullFromCore">
                                        @_localizer["PullFromCore"].Value
                                        
                                    </button>
                                </div>
                            </form>
                        </div>

                    </div>

                </div>
            </div>
        }
    </div>


</div>

<script>
    $(function(){
      if ('@ViewData["Error"]' != '' || '@ViewData["Error"]' != "") {
            ErrorAlert('@ViewData["Error"]');
        }
    });
    $('#txtsequence').ForceIntegerEntry();
    $('#txtnationalid').ForceIntegerEntry();
    $('#txtmobile').ForceIntegerEntry();
    $('#txtcustom').ForceIntegerEntry();
</script>