@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim.Frauds;
@model FraudIndicators
<div class="popup-body-wrapper" style="max-width:50% !important;display:grid">
    <div class="popup-header">
        <div class="popup-header-inner">
            <h3 class="popup-title">
                @_localizer["FraudIndicator"].Value
                
            </h3>
            <div class="close-popup-icon" onclick="Close('edit-FraudIndicator-popup')">
                <img class="close-icon" src="/assets/icons/close.svg">
            </div>
        </div>
        <p class="popup-description">
            @_localizer["DefineNewFraudIndicator"].Value
            
        </p>
    </div>
    <form method="post" asp-action="UpdateFraudIndicator" asp-controller="Fraud" style="display:grid">
    <div class="popup-body">
        <div class="popup-floating-content right-border" style="width: 40%;">
            <div class="detailed edit">
                <div class="detailed-ele">

                    <div class="detailed-desc">

                        <input id="txtId" name="Id" type="hidden" value="@Model.Id">
                        <!-- <h4 class="title">Nationality</h4> -->
                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <input class="form-inputbox" id="txtIndicatorName" name="Name" type="text" required maxlength="140" value="@Model.Name">
                                    <label class="form-label non-icon" for="txtIndicatorName">
                                        @_localizer["IndicatorName"].Value
                                        
                                    </label>
                            </div>
                        </div>
                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <textarea class="form-inputbox" id="txtDescription" name="Description" maxlength="1024" rows="5">@Model.Description</textarea>
                                    <label class="form-label non-icon" for="txtDescription">
                                        @_localizer["Description"].Value
                                        
                                    </label>
                            </div>
                        </div>
                        <div class="vehicle-owner-grid">
                            <label for="radio-card-v2-11" class="radio-card-v2" style="min-width:50% !important">
                                <input type="radio" value="true" name="IsActive" id="radio-card-v2-11" @(Model.Id == 0 ? "checked" : (Model.IsActive ? "checked":"")) />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                            <h4 class="title">
                                                @_localizer["Active"].Value
                                                
                                            </h4>
                                    </div>
                                </div>
                            </label>
                            <!-- /.radio-card -->

                            <label for="radio-card-v2-12" class="radio-card-v2" style="min-width:50% !important">
                                <input type="radio" value="false" name="IsActive" id="radio-card-v2-12" @(!Model.IsActive ? "checked" : "") />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                            <h4 class="title">
                                                @_localizer["InActive"].Value
                                                
                                            </h4>
                                    </div>
                                </div>
                            </label>


                        </div>

                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <input class="form-inputbox" id="txtScore" name="Score" type="text" required maxlength="3" value="@(Model.Id==0?string.Empty:Model.Score)">
                                    <label class="form-label non-icon" for="txtScore">
                                        @_localizer["Score"].Value
                                        
                                    </label>
                            </div>
                        </div>


                    </div>
                </div>

            </div>
        </div>

        <div class="popup-floating-content" style="width: 60%;">
            <div class="detailed edit">
                <div class="detailed-ele">

                    <div class="detailed-desc">

                        <div class="vehicle-owner-grid">
                            <label for="ClaimType1" class="radio-card-v2">
                                <input type="radio" value="1" name="PolicyType" id="ClaimType1" @(Model.Id == 0 ? "checked" : (Model.PolicyType==1 ? "checked" : "")) />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                            <h4 class="title">
                                                @_localizer["TPL"].Value
                                                
                                            </h4>
                                    </div>
                                </div>
                            </label>
                            <!-- /.radio-card -->

                            <label for="ClaimType2" class="radio-card-v2">
                                <input type="radio" value="2" name="PolicyType" id="ClaimType2" @(Model.PolicyType==2? "checked" : "" ) />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                            <h4 class="title">
                                                @_localizer["COMP"].Value
                                                
                                            </h4>
                                    </div>
                                </div>
                            </label>

                            <label for="ClaimType3" class="radio-card-v2">
                                <input type="radio" value="3" name="PolicyType" id="ClaimType3" @(Model.PolicyType == 3 ? "checked" : "") />
                                <div class="card-content-wrapper">
                                    <span class="check-icon"></span>
                                    <div class="card-content">
                                            <h4 class="title">
                                                @_localizer["Both"].Value
                                                
                                            </h4>
                                    </div>
                                </div>
                            </label>
                        </div>

                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <textarea class="form-inputbox" id="txtQuery" name="Query" required maxlength="2024" rows="6">@Model.Query</textarea>
                                    <label class="form-label non-icon" for="txtDescription">
                                        @_localizer["Query"].Value
                                        
                                    </label>
                            </div>
                        </div>

                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <select id="ddlOutComeType" name="OutComeType" required class="form-inputbox">
                                    <option></option>
                                        <option value="1">
                                            @_localizer["Boolean"].Value
                                            
                                        </option>
                                        <option value="2">
                                            @_localizer["Date"].Value
                                            
                                        </option>
                                        <option value="3">
                                            @_localizer["Number"].Value
                                            
                                        </option>
                                        <option value="4">
                                            @_localizer["String"].Value
                                            
                                        </option>


                                </select>
                                    <label class="form-label non-icon" for="ddlOutComeType">
                                        @_localizer["OutComeType"].Value
                                        
                                    </label>
                            </div>
                        </div>

                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <select id="ddlOperator" name="Operator" required class="form-inputbox">
                                    <option></option>
                                        <option value="1">
                                            @_localizer["Greater"].Value
                                            
                                        </option>
                                        <option value="2">
                                            @_localizer["GreaterOrEqual"].Value
                                            
                                        </option>
                                        <option value="3">
                                            @_localizer["Equal"].Value
                                            
                                        </option>
                                        <option value="4">
                                            @_localizer["Less"].Value
                                            
                                        </option>
                                        <option value="5">
                                            @_localizer["LessOrEqual"].Value
                                            
                                        </option>


                                </select>
                                    <label class="form-label non-icon" for="ddlOperator">
                                        @_localizer["Operator"].Value
                                        
                                    </label>
                            </div>
                        </div>
                        <div class="form-field-wrapper">
                            <div class="form-input-wrapper">
                                <input class="form-inputbox" id="txtComparingValue" name="ComparingValue" type="text" required maxlength="100" value="@(Model.Id==0?string.Empty:Model.ComparingValue)">
                                    <label class="form-label non-icon" for="txtComparingValue">
                                        @_localizer["ComparingValue"].Value
                                        
                                    </label>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

    </div>

    <div class="popup-footer">
            <button class="button button-secondary" type="button" onclick="Close('edit-FraudIndicator-popup')">
                @_localizer["Cancel"].Value
                
            </button>
            <button class="button button-secondary" type="submit">
                @_localizer["Submit"].Value
                
            </button>
    </div>
    </form>
</div>
<script>
    $('#txtScore').ForceIntegerEntry();

    $(function(){
        $('#ddlOutComeType').val('@Model.OutComeType');
        $('#ddlOperator').val('@Model.Operator');
    })
</script>
