@using CORE.DTOs.MotorClaim.Claims;

@model Claims
@{
    Layout = null;
}

        <div class="basic-detail">
            <div class="policy-header">
                <div class="name-number-wrapper">
                    <div class="policy-name-wrapper">
                        <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                        <p class="policy-name">Claim Info</p>
                    </div>

                </div>
                <div class="action-dropdown">
                    <h3 class="policy-no">Claim No. @Model.ClaimNo</h3>
                </div>
            </div>
            <div class="policy-detail-body undefined">
                <div class="inner-clild-wrap">
                    <ul class="detail-list">
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Claim Number</span>
                                <h3 class="value ellipsis">@Model.ClaimNo</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Date Of Loss</span>
                                <h3 class="value ellipsis">@Helpers.FormatDate( Model.DateOfLoss)</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                    @{
                        var y = Enum.TryParse(Model.ClaimReportType.ToString(), out Enums.ClaimReportType parsedEnumValue);
                    }
                            <div class="item-content">
                                <span class="label">Report Type</span>
                        <h3 class="value ellipsis">@parsedEnumValue</h3>
                            </div>
                        </li>

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Accident City</span>
                                <h3 class="value ellipsis">@Model.City</h3>
                            </div>
                        </li>

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Notification date</span>
                                <h3 class="value ellipsis">@Model.NotificationDate.ToString("dd MMM yyyy")</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="background-color: white;min-height: 3px;"></div>
                <div class="inner-clild-wrap">
                    <ul class="detail-list">

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Geogrphical Area</span>
                                <h3 class="value ellipsis">@(Model.GeagraphicalArea==1?"KSA":"GCC")</h3>
                            </div>
                        </li>


                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Accidental Place</span>
                                <h3 class="value ellipsis">@Model.AccidentPlace</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Registration Date</span>
                                <h3 class="value ellipsis">@Model.RegistrationDate.ToString("dd MMM yyyy")</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Prefered city of Survey</span>
                                <h3 class="value ellipsis">@Model.SurveyCity</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Claim Event</span>
                                <h3 class="value ellipsis">@Model.EventId</h3>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
