@using CORE.DTOs.MotorClaim.Claims;

@{
    Layout = null;
    Claimants item = new Claimants();
    item=Model.Model;
}


    <div class="basic-detail">
        <div class="policy-header">
            <div class="name-number-wrapper">
                <div class="policy-name-wrapper">
                    <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                    <p class="policy-name">Claimants Info</p>
                </div>

            </div>
            <div class="action-dropdown">
                <h3 class="policy-no">Claimant Serial. @item.Serial</h3>
            </div>
        </div>
        <div class="policy-detail-body undefined">
            <div class="inner-clild-wrap">
                <ul class="detail-list">
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        @{
                            var ClaimantType = Helpers.GetLookups(item.ClaimantType.ToString(), (int)Enums.Lookups.ClaimantType, Model.Lookups);
                        }
                        <div class="item-content">
                            <span class="label">Claimant Type</span>
                            <h3 class="value ellipsis">@ClaimantType</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        @{
                            var damage = Helpers.GetLookups(item.DamageType.ToString(), (int)Enums.Lookups.DamageType, Model.Lookups);
                        }
                        <div class="item-content">
                            <span class="label">Damage Type</span>
                            <h3 class="value ellipsis">@damage</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        @{
                            var NatureofLoss = Helpers.GetLookups(item.NatureofLoss.ToString(), (int)Enums.Lookups.CauseOfLoss, Model.Lookups);
                        }
                        <div class="item-content">
                            <span class="label">Nature of Loss</span>
                            <h3 class="value ellipsis">@NatureofLoss</h3>
                        </div>
                    </li>


                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Claimant Name</span>
                            <h3 class="value ellipsis">@item.ClaimantName</h3>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="background-color: white;min-height: 3px;"></div>
            <div class="inner-clild-wrap">
                <ul class="detail-list">

                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">National Id</span>
                            <h3 class="value ellipsis">@item.NationalId</h3>
                        </div>
                    </li>


                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Our %</span>
                            <h3 class="value ellipsis">@item.OurPercent %</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Responsibility</span>
                            <h3 class="value ellipsis">@(item.Responsipility == 1 ? "US" : (item.Responsipility==2?"Shared":"They"))</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Mobile No</span>
                            <h3 class="value ellipsis">@item.MobileNo</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Driver Name</span>
                            <h3 class="value ellipsis">@item.DriverName</h3>
                        </div>
                    </li>
                </ul>
            </div>
            <div style="background-color: white;min-height: 3px;"></div>
            <div class="inner-clild-wrap">
                <ul class="detail-list">

                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Owner Name</span>
                            <h3 class="value ellipsis">@item.OwnerName</h3>
                        </div>
                    </li>


                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Driver Date of Birth</span>
                            <h3 class="value ellipsis">@(Helpers.FormatLongDateNoTime(item.DriverBirthDate))</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Age</span>
                            <h3 class="value ellipsis">@item.DriverAge</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Driver License Expiry Date</span>
                            <h3 class="value ellipsis">@Helpers.FormatLongDateNoTime(item.DriverLicenseExpiryDate)</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">IBAN</span>
                            <h3 class="value ellipsis">@item.Iban</h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="background-color: white;min-height: 3px;"></div>
            <div class="inner-clild-wrap">
                <ul class="detail-list">

                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Bank Name</span>
                            <h3 class="value ellipsis">@item.BankName</h3>
                        </div>
                    </li>


                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Beneficiary Name</span>
                            <h3 class="value ellipsis">@item.BenefecieryName</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Missing Documents</span>
                            <h3 class="value ellipsis"></h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Fraud</span>
                            <h3 class="value ellipsis">Low</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Make/Model/Manufacture</span>
                            <h3 class="value ellipsis">@item.MakeDesc/@item.ModelDesc/@item.Manifacturing </h3>
                        </div>
                    </li>
                </ul>
            </div>

            <div style="background-color: white;min-height: 3px;"></div>
            <div class="inner-clild-wrap">
                <ul class="detail-list">

                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Color</span>
                            <h3 class="value ellipsis">@item.ColorDesc</h3>
                        </div>
                    </li>


                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Plate Number</span>
                            <h3 class="value ellipsis">@item.PlateNo</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Chassis No</span>
                            <h3 class="value ellipsis">@item.ChassisNo</h3>
                        </div>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    
