@using CORE.DTOs.APIs.MotorClaim;
@model VehicleInfos
@{
    Layout = null;
}
@if (Model.lsClaims.Count > 0)
{

    @foreach (var clm in Model.lsClaims)
    {
        <div class="basic-detail">
            <div class="policy-header">
                <div class="name-number-wrapper">
                    <div class="policy-name-wrapper">
                        <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                        <p class="policy-name">Claim Info</p>
                    </div>

                </div>
                <div class="action-dropdown">
                    <h3 class="policy-no">Claim No. @clm.ClaimNo</h3>
                </div>
            </div>
            <div class="policy-detail-body undefined">
                <div class="inner-clild-wrap">
                    <ul class="detail-list">
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Claim Number</span>
                                <h3 class="value ellipsis">@clm.ClaimNo</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Date Of Loss</span>
                                <h3 class="value ellipsis">@clm.DateOfLoss.ToString("dd MMM yyyy")</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Report Type</span>
                                <h3 class="value ellipsis">@clm.ClaimReportType</h3>
                            </div>
                        </li>

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Accident City</span>
                                <h3 class="value ellipsis">@clm.City</h3>
                            </div>
                        </li>

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Notification date</span>
                                <h3 class="value ellipsis">@clm.NotificationDate.ToString("dd MMM yyyy")</h3>
                            </div>
                        </li>
                    </ul>
                </div>
                <div style="background-color: white;min-height: 3px;"></div>
                <div class="inner-clild-wrap">
                    <ul class="detail-list">

                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Geogrphical Area</span>
                                <h3 class="value ellipsis">@clm.GeagraphicalArea</h3>
                            </div>
                        </li>


                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Accidental Place</span>
                                <h3 class="value ellipsis">@clm.City</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Registration Date</span>
                                <h3 class="value ellipsis">@clm.RegistrationDate.ToString("dd MMM yyyy")</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Prefered city of Survey</span>
                                <h3 class="value ellipsis">@clm.City</h3>
                            </div>
                        </li>
                        <li class="detailed-item false">
                            <span class="detailed-icon-wrap">
                                <img src="/assets/icons/save.svg" alt="" class="item-icon">
                            </span>
                            <div class="item-content">
                                <span class="label">Claim Event</span>
                                <h3 class="value ellipsis">@clm.EventId</h3>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    }

}
