@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.APIs.MotorClaim;
@using CORE.DTOs.APIs.Setups.MMP;
@using CORE.DTOs.MotorClaim;
@using CORE.DTOs.MotorClaim.Claims;
@using Newtonsoft.Json;
@{
    Layout = null;
    Production policy = (Production)ViewData["Policy"];
    VehicleInfos vehicle = (VehicleInfos)ViewData["Vehicle"];
}
@model Claimants

     @{
                        ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                    {
                        PolicyId = policy.policy.Id,
                        VehicleId = vehicle.Vehicle.Id,
                        ClaimId = Model.ClaimId,
                        ClaimantId = Model.Id
                    };
        }
       <div class="add-member-detail" style="max-width:100% !important">
        <div class="tabs-wrapper">
            <ul class="tabs-navigation-wrap">
                <li class="tab-navigation tab-custom-two2 A active" id="CtabTwoOne" onclick=
                "selectTabsTwo2('CtabTwoOne','ClaimantEntryPartial');LoadClaimantEntryPartial('@MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))')">
                    <div class="tab-item-text">
                    @_localizer["ClaimantEntry"].Value
                    
                    
                    </div>
                </li>
                <li class="tab-navigation tab-custom-two2 A" id="CtabTwoTwo" onclick="selectTabsTwo2('CtabTwoTwo','ClaimantsDocumentsUpload'); LoadDocumentsList('@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)','@Model.ClaimId','@policy.policy.Id','@vehicle.Vehicle.Id','@Model.Id')">
                    <div class="tab-item-text">
                    @_localizer["DocumentsUpload"].Value
                    
                    </div>
                </li>
                  <li class="tab-navigation tab-custom-two2 A" id="CtabTwoThree" onclick="selectTabsTwo2('CtabTwoThree','ClaimantsReserve'); LoadClaimantsReserveList('@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)','@Model.ClaimId','@policy.policy.Id','@vehicle.Vehicle.Id','@Model.Id')">
                    <div class="tab-item-text">
                    @_localizer["Reserve"].Value
                    
                    </div>
                </li>
                  <li class="tab-navigation tab-custom-two2 A" id="CtabTwoFour" onclick="selectTabsTwo2('CtabTwoFour','ClaimantsRecovery'); LoadClaimantsRecoveryList('@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)','@Model.ClaimId','@policy.policy.Id','@vehicle.Vehicle.Id','@Model.Id')">
                    <div class="tab-item-text">
                    @_localizer["Recovery"].Value
                    
                    </div>
                </li>
            </ul>
             <div class="tabbs-content-wrapper">
                <div class="tab-items-container tabs-one-content-two2 B active" id="ClaimantEntryPartial">

     </div>  
           <div class="tab-items-container tabs-one-content-two2 B" id="ClaimantsDocumentsUpload"></div>
           <div class="tab-items-container tabs-one-content-two2 B" id="ClaimantsReserve"></div>
           <div class="tab-items-container tabs-one-content-two2 B" id="ClaimantsRecovery"></div>
       </div>
                    </div>
           


 <script>
     $(function(){
     
     LoadClaimantEntryPartial('11');
     });
     function LoadClaimantEntryPartial(Id){
         $('#ClaimantEntryPartial').load('/Claims/ClaimantDetails/',{obj:Id});
     }

 </script>