@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
<div class="policy-wrapper">
    <h2 class="heading">
        @_localizer["SytemSetup"].Value
    </h2>
    <div class="policy-carousel-wrapper">
        <a href="@Url.Action("Index","Delegation")" class="policy-card cursor-pointer" >

            <div class="policy-internal-wrapper" id="shad1">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/delegation.png" width="50" />
                    </div>
                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["Delegation"].Value
                    </h3>
                </div>

            </div>
    
        </a>
        <a href="@Url.Action("Index","WorkFlow")" class="policy-card cursor-pointer" >

            <div class="policy-internal-wrapper" id="shad2">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/WorkFlow.png" width="50" />
                    </div>
                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["WorkFlow"].Value
                    </h3>
                </div>

       
        </div>
        </a>
        <a href="@Url.Action("Index","Documents")" class="policy-card cursor-pointer" >

            <div class="policy-internal-wrapper" id="shad3">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/Documents.png" width="50" />
                    </div>

                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["Documents"].Value
                    </h3>
                </div>

       
        </div>
        </a>
        <a href="@Url.Action("Index","Fraud")" class="policy-card cursor-pointer" >

            <div class="policy-internal-wrapper" id="shad4">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/Fraud.png" width="50" />
                    </div>

                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["Fraud"].Value
                    </h3>
                </div>

            </div>
  
        </a>
        <a href="@Url.Action("Index","Access")" class="policy-card cursor-pointer">
  
            <div class="policy-internal-wrapper" id="shad5">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/Access.png" width="50" />
                    </div>

                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["Access"].Value
                    </h3>
                </div>

            </div>

        </a>    
        
        <a href="@Url.Action("Authority","Setup")" class="policy-card cursor-pointer">
  
            <div class="policy-internal-wrapper" id="shad6">
                <div class="policy-card-header">
                    <div class="policy-type-icon">
                        <img src="/assets/icons/Authority.png" width="50" />
                    </div>

                </div>
                <div class="policy-card-body">
                    <h3 class="policy-name">
                        @_localizer["Authority"].Value
                    </h3>
                </div>

            </div>

        </a>
    </div>
</div>