@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@{
    string Controller = ViewData["Controller"].ToString();
    string Action = ViewData["Action"].ToString();
}

@model int

<form asp-controller="@Controller" asp-action="@Action" method="post">
    <div class="modal-content">
        <div class="modal-header">
            <span class="close-delete-dependent" onclick="Close('delete-Confirmation')">
                &times;
            </span>
            <h2>
                @_localizer["DeleteConfirmation"].Value
                
            </h2>
        </div>
        <div class="modal-body">
            <input type="hidden" name="Id" value="@Model" />
            <p class="delete-text">
                @_localizer["AreYouSure?"].Value
                
            </p>
        </div>
        <div class="modal-footer">
            <button onclick="Close('delete-Confirmation')" type="button" class="button button-secondary-border">
                @_localizer["Cancel"].Value
                
            </button>
            <button class="button button-primary" type="submit">
                @_localizer["OK"].Value
                
            </button>
        </div>
    </div>
</form>