@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim.Claims;
@using CORE.DTOs.MotorClaim.WorkFlow;
@{
    Layout = null;
    List<DocumentInfo> doc = (List<DocumentInfo>)Model.Documents;
}

<div class="basic-detail">
    <div class="policy-header">
        <div class="name-number-wrapper">
            <div class="policy-name-wrapper">
                <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                <p class="policy-name">
                    @_localizer["DocumentsHistory"].Value
                    
                </p>
            </div>

        </div>

    </div>
    <div class="policy-detail-body undefined">
        <div class="inner-clild-wrap">

            <ul class="detail-list">
           
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label tran">
                            @_localizer["FileName"].Value
                            
                        </span>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["CreationDate"].Value
                            
                        </span>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["UploadedBy"].Value
                            
                        </span>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["DocumentType"].Value
                            
                        </span>
                    </div>
                </li>
            </ul>
            @foreach (var clm in Model.Model)
            {

                <ul class="detail-list">
                
                    <li class="detailed-item false">
                        <div class="item-content">
                            <h3 class="value ellipsis " style="cursor:pointer;color:blue;text-decoration:underline"><a target="_blank" href="@Model.Link/@Model.ClaimNo/@clm.FileName">@clm.FileName</a></h3>
                        </div>
                    </li>
                    <li class="detailed-item false">

                        <div class="item-content">
                            <h3 class="value ellipsis">@Helpers.FormatLongDate(clm.CreationDate)</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">

                        <div class="item-content">
                            <h3 class="value ellipsis">@clm.CreatedBy</h3>
                        </div>
                    </li>
                    <li class="detailed-item false">
                        @{

                            string Doc = doc.Where(p => p.Id == clm.DocumentSetupId).FirstOrDefault().Name;
                        }
                        <div class="item-content">
                            <h3 class="value ellipsis">@Doc</h3>
                        </div>
                    </li>
                </ul>
            }

        </div>

    </div>
</div>
