@using CORE.DTOs.APIs.Authenticator;
@using CORE.DTOs.Authentications;
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
    LoginObj users = new LoginObj();
    users = Context.Session.getSessionData<LoginObj>("loginObj");

}

@inject IViewLocalizer _localizer
@inject IOptions<RequestLocalizationOptions> locOptions
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = locOptions.Value.SupportedCultures.Select(c => new SelectListItem(value: c.Name, text: c.DisplayName)).ToList();
    var returnUrl = string.IsNullOrEmpty(Context.Request.Path) ? "~/" : $"~{Context.Request.Path.Value}";

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link href="~/styles/commonStyle.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/styles/layout/layout.css" />
    <link rel="stylesheet" href="~/styles/policyStyle/policyTiles.css">
    <link rel="stylesheet" href="~/styles/dashboard/dasbboard.css" />
    <link href="~/styles/header/header.css" rel="stylesheet" />
    <link href="~/styles/languageStyle/languageStyle.css" rel="stylesheet" />
    <link href="~/styles/Pagination.css" rel="stylesheet" />
    <link href="~/styles/creditLimit/StyleSheet.css" rel="stylesheet" />
    <link href="~/styles/add-member/add-member.css" rel="stylesheet" />
    <script src="~/assets/Content/Js/jquery-1.9.1.min.js" type="text/javascript"></script>
    <script src="~/assets/Content/Js/jquery.validate.min.js" type="text/javascript"></script>
    <script src="~/assets/Content/Js/jquery-ui-1.10.1.custom.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="~/styles/request/request.css" />
    <link rel="stylesheet" href="~/styles/Spinner.css" />
    <script src="~/assets/Content/Login/jquery.toast.js" type="text/javascript"></script>
    <script src="~/assets/Content/Login/Login.js" type="text/javascript"></script>
    <link href="~/assets/Content/Login/jquery.toast.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="~/styles/policydetail/policyDetailHeader.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
          rel="stylesheet">
    <link rel="stylesheet" href="~/styles/policydetail/policyDetailHeader.css">


    <script src="~/scripts/tabs.js" type="text/javascript"></script>
    <script src="~/scripts/Autocomplete.js" type="text/javascript"></script>
    <script src="~/assets/Content/cleditor-master/jquery.mb.browser.min.js" type="text/javascript"></script>
    <script src="~/assets/Content/cleditor-master/jquery.cleditor.js" type="text/javascript"></script>
    <script src="~/scripts/jquery.colorpicker.js" type="text/javascript"></script>
    <link href="~/styles/jquery.colorpicker.css" rel="stylesheet" />
    <link href="~/assets/Content/cleditor-master/jquery.cleditor.css" rel="stylesheet" />
    <link href="~/assets/motor/MotorClaims.css" rel="stylesheet" />
    <link href="~/styles/motor/motor.css" rel="stylesheet" />
    <link href="~/styles/bootstrap-grid.css" rel="stylesheet" />
    <link href="~/styles/Themes/flick/jquery-ui-1.10.1.custom.min.css" rel="stylesheet" />

</head>

<body>
    <main class="main-layout">

        <div class="sidebar-wrapper">
            <aside class="sidebar">
                <div class="sidebar-logo-wrapper">
                    <img class="logo" src="~/assets/icons/AJT1.png" />
                </div>
                <nav class="navigation-wrapper">
                    <ul class="naigation-list">
                        @*   @if ((int)MotorClaims.Models.Enums.Roles.Admin == users?.Roles?.Id || (int)MotorClaims.Models.Enums.Roles.Sales == users?.Roles?.Id || (int)MotorClaims.Models.Enums.Roles.Broker == users?.Roles?.Id || (int)MotorClaims.Models.Enums.Roles.Agent == users?.Roles?.Id)
                        {*@

                        <li class="navigation-item">

                            <a class="menu-item-wrapper active" title="Home" href="@Url.Action("Index","Home")">
                                <img src="~/assets/icons/home.png" class="menu-icon" />
                            </a>
                        </li>

                        @*  }*@




                        <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Search")" title="Search" aria-current="page">
                                <img src="~/assets/icons/search.svg" class="menu-icon" />
                            </a>
                        </li>


                        <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Operations")" title="Operation" aria-current="page">
                                <img src="~/assets/icons/Operation.png" class="menu-icon" />
                            </a>
                        </li>

                        <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Surveyor")" title="Surveyor" aria-current="page">
                                <img src="~/assets/icons/Survoyer.png" class="menu-icon" />
                            </a>
                        </li>
                             <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Towing")" title="Towing" aria-current="page">
                                <img src="~/assets/icons/Towing.png" class="menu-icon"  />
                            </a>
                        </li>              <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Approvals")" title="Approvals" aria-current="page">
                                <img src="~/assets/icons/Approvals.png" class="menu-icon"  />
                            </a>
                        </li>



                        <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("Index","Delegation")" title="@_localizer["Setup"]" aria-current="page">
                                <img src="~/assets/icons/Setup.png" class="menu-icon" />
                            </a>
                        </li>
                           <li class="navigation-item">
                            <a class="menu-item-wrapper" href="@Url.Action("eClaims","Operations")" title="@_localizer["eClaims"]" aria-current="page">
                                <img src="~/assets/icons/eclaim.png" class="menu-icon" />
                            </a>
                        </li>
                    </ul>
                </nav>
            </aside>
        </div>

            <div class="header-logedin">
            @*  <div class="breadcrumb">

            @_localizer["Dashboard"].Value

            </div>*@
            <div class="static-header">
                <ul class="static-menu-list">
                    <li class="static-item-header">
                        <div class="lang cursor-pointer" onclick="handleLanguagePopup()">
                            <p>@_localizer["LNG"].Value</p>
                            <img src="~/assets/icons/world.svg" alt="world" class="language" />
                            <img src="~/assets/icons/chevron-down.svg" class="language-drop-icon" alt="">


                            @{
                                await Html.RenderPartialAsync("_SelectLanguagePartial");
                            }
                        </div>
                    </li>
                    <li class="profile">
                        <img src="~/assets/icons/user.svg" style="cursor:pointer" onclick="OpenLogout()">
                    </li>
                </ul>
            </div>
        </div>
        <div class="content-wrapper">
            @RenderBody()
        </div>
    </main>
    <div id="loader"></div>
</body>

<script src="~/scripts/language.js"></script>
<script src="~/scripts/membersAccordion.js"></script>
<script src="~/scripts/popupScript.js"></script>
<script src="~/scripts/idTypes.js"></script>

<script src="~/scripts/multiselect.js"></script>

@RenderSection("scripts", required: false)
</html>

<script>
    var spinner = $('#loader');


    $(function () {
        addEventListener("submit", function (event) {
            if (event.submitter.matches('#btnExportHistorysubmit') || event.submitter.matches('#btnSuccessMembers') || event.submitter.matches('#btnFailledMembers')) {
                spinner.hide();
            } else {
                spinner.show();
            }
        });
        //document.addEventListener("contextmenu", function (event) {
        //  event.preventDefault();
        //});


    });
</script>