@using CORE.DTOs.MotorClaim.Claims;
@model Claims
@{
    Layout = null;
    List<Claimants> claimants=(List<Claimants>)ViewData["claimants"];
    List<ClaimMaster> claimMasters=(List<ClaimMaster>)ViewData["ClaimMaster"];

    ClaimMaster master = new ClaimMaster();
    master = claimMasters.Where(p => p.claims.Id == Model.Id).FirstOrDefault();
}
<form id="frmOperationReOpen" method="post" >
    <input type="hidden" name="ClaimId" value="@Model.Id" />
    <div class="slide-popup-inner">
        <div class="slide-header">
            <div class="heading-card">
                <h2 class="heading">Re-Open Claim</h2>
            </div>
        </div>
        <div class="slide-body">
            <div class="popup-body-wrapper">
                <div class="body-content-wrapper">
                    <div class="delete-content-card">
                        <div class="body-delete-header">
                            <h2 class="heading-title">@Model.ClaimNo</h2>
                            <span class="active-employee">Employee</span>
                        </div>
                        <ul class="list-detail">
                            <li class="list-item-delete">
                                <span class="label">Owner Name:</span>
                                <span class="value">@Model.Owner</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Policy No:</span>
                                <span class="value">@Model.PolicyNo</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Plate No:</span>
                                <span class="value">@Model.PlateNo</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Fraud Score:</span>
                                <span class="value">@Model.FraudScore</span>
                            </li>
                        </ul>

                        <div class="cancel-declaration">
                            <h3 class="title-label">Claimant</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                    <select  class="form-inputbox" name="ClaimantID" id="ddlClaimantID">
                                        <option value="">Select Claimant</option>
                                        @foreach (var item in claimants)
                                        {
                                                <option value="@item.Id">@item.ClaimantName</option>
                                        }
                                    
                                    </select>
                                </div>
                            </div>
                        </div>






                        <div class="cancel-declaration">
                            <h3 class="title-label">Re-Open Reason</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                    <textarea name="Note" id="txtNote" autocomplete="off" class="form-inputbox" maxlength="1024"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-footer">
                    <div class="slide-inner-footer">
                        <button type="button" class="button button-secondary-border"
                                onclick="CloseDialogV('OperationReOpen')">
                            Cancel
                        </button>
                        <button type="submit" class="button button-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

<script>
    $(function () {
        $("#frmOperationReOpen").submit(function (event) {
            $.post("/Operations/ReOpenClaim/", $("#frmOperationReOpen").serializeArray(),function(){
                CloseDialogV('OperationReOpen');
            });

        });
    });

</script>