@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim;
@model ProductionInfo
@{
    Layout = null;
}

<div class="basic-detail">
    <div class="policy-header">
        <div class="name-number-wrapper">
            <div class="policy-name-wrapper">
                <img src="/assets/icons/empty-file.svg" class="policy-icon" />
                <p class="policy-name">
                    @_localizer["PolicyInfo"].Value
                    
                </p>
            </div>

        </div>
        <div class="action-dropdown">
            <h3 class="policy-no">@Model.PolicyNumber</h3>
        </div>
    </div>
    <div class="policy-detail-body undefined">
        <div class="inner-clild-wrap">
            <ul class="detail-list">
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["PolicyType"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.PolicyTypeName</h3>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["EffectiveDate"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@HelpersDate.FormatDateNoTime(Model.PolicyEffectiveDate)</h3>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["ExpiryDate"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@HelpersDate.FormatDateNoTime(Model.PolicyExpiryDate)</h3>
                    </div>
                </li>

                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["OwnerName"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.OwnerName</h3>
                    </div>
                </li>
            </ul>
        </div>
        <div style="background-color: white;min-height: 3px;"></div>
        <div class="inner-clild-wrap">
            <ul class="detail-list">

                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["LeaseeId"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.LesseeId</h3>
                    </div>
                </li>


                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["LeaseeName"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.LesseeName</h3>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["UWYear"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.PolicyUWYear</h3>
                    </div>
                </li>
                <li class="detailed-item false">
                    <span class="detailed-icon-wrap">
                        <img src="/assets/icons/save.svg" alt="" class="item-icon">
                    </span>
                    <div class="item-content">
                        <span class="label">
                            @_localizer["Benificiary"].Value
                            
                        </span>
                        <h3 class="value ellipsis">@Model.BenefecieryName</h3>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
