@using CORE.DTOs.MotorClaim.Claims;
@model Claims
@{
    Layout = null;
    int? ClaimantId = (int?)ViewData["claimantId"];
        List<ClaimMaster> claimMasters=(List<ClaimMaster>)ViewData["ClaimMaster"];
}
<form id="frmUpdateReserve" method="post" >
    <input type="hidden" name="ClaimId" value="@Model.Id" />
    <div class="slide-popup-inner">
        <div class="slide-header">
            <div class="heading-card">
                <h2 class="heading">Update Recovery</h2>
            </div>
        </div>
        <div class="slide-body">
            <div class="popup-body-wrapper">
                <div class="body-content-wrapper">
                    <div class="delete-content-card">
                        <div class="body-delete-header">
                            <h2 class="heading-title">@Model.ClaimNo</h2>
                            <span class="active-employee">Employee</span>
                        </div>
                        <ul class="list-detail">
                            <li class="list-item-delete">
                                <span class="label">Owner Name:</span>
                                <span class="value">@Model.Owner</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Policy No:</span>
                                <span class="value">@Model.PolicyNo</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Plate No:</span>
                                <span class="value">@Model.PlateNo</span>
                            </li>
                            <li class="list-item-delete">
                                <span class="label">Fraud Score:</span>
                                <span class="value">@Model.FraudScore</span>
                            </li>
                        </ul>


                        <div class="cancel-declaration">
                            <h3 class="title-label">Claimant</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                    <select required class="form-inputbox" name="ClaimantID" id="ddlClaimantID">
                                            <option value="@claimMasters.FirstOrDefault().claimants.Id">@claimMasters.FirstOrDefault().claimants.ClaimantName</option>
                                    </select>
                                </div>
                            </div>
                        </div>          
                        
                        <div class="cancel-declaration">
                            <h3 class="title-label">Recovery Type</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
  <select required class="form-inputbox" name="RecoveryType" id="ddlRecoveryType">
      <option value="">Select Recovery Type</option>
	<option value="1">Insurance Company</option>
	<option value="2">Individual</option>
	<option value="3">Selling Scrap</option>
	<option value="4">Deductible</option>
	<option value="5">Depreciation</option>
	<option value="10">Recovery From Insured</option>
	<option value="11">deductible+depreciation</option>
	<option value="12">Debitor </option>
	<option value="14">SAMA new TP policy</option>

</select>
                                </div>
                            </div>
                        </div>
                        <div class="cancel-declaration">
                            <h3 class="title-label">Recovery Reason</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                      <select class="form-inputbox" name="RecoveryReason" id="ddlRecoveryReason">
                                        <option value="">Select Recovery Reason</option>

      	<option  value="1">Use of Vehicle usage is different from policy schedule.</option>
			<option value="2">Exceeding the number of passenger capacity </option>
			<option value="3">Driven against the direction of traffic</option>
			<option value="4">Driven under the influence of drugs. </option>
			<option value="5">Driven by a person under the age 18 year. </option>
			<option value="6">Driven does not hold a proper class of License.</option>
			<option value="7">License was expired.</option>
			<option value="8">Driver escaped the scene of the accident. </option>
			<option value="9">Running a red light</option>
			<option value="10">Submitting inaccurate information in proposal form.</option>
			<option value="11">Proved that the accident was deliberate.</option>
			<option value="12">Failure to notify within 20 working days of any material.</option>
			<option value="13">Vehicle was stolen or taken forcibly</option>
			<option value="14">Not Applicable</option>
             </select>
                                </div>
                            </div>
                        </div>


                        <div class="cancel-declaration">
                            <h3 class="title-label">Recovery Amount</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                    <input required type="text" name="RecoveryAmount" autocomplete="off" maxlength="10" class="form-inputbox" id="txtRecoveryAmount" />

                                </div>
                            </div>
                        </div>


                        <div class="cancel-declaration">
                            <h3 class="title-label">Note</h3>
                            <div class="form-field-wrapper">
                                <div class="form-input-wrapper">
                                    <textarea name="Note" id="txtNote" autocomplete="off" class="form-inputbox" maxlength="1024"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="slide-footer">
                    <div class="slide-inner-footer">
                        <button type="button" class="button button-secondary-border"
                                onclick="CloseDialogV('UpdateRecovery')">
                            Cancel
                        </button>
                        <button type="submit" class="button button-primary">Update</button>
                    </div>
                </div>
            </div>
        </div>


    </div>

</form>

<script>
    $(function () {
        if('@ClaimantId'!=null && '@ClaimantId'>0){
            $('#ddlClaimantID').val('@ClaimantId');
             $("#ddlClaimantID").prop('disabled', true);
        }
        $("#frmUpdateReserve").submit(function (event) {
            $.post("/Surveyor/UpdateReserveTransaction/", $("#frmUpdateReserve").serializeArray(),function(){
                CloseDialogV('UpdateReserve');
            });

        });
    });
    $('#txtSparePartCost').ForceDecimalNegativeEntry();
    $('#txtLaborCost').ForceDecimalNegativeEntry();
    $('#txtOtherCost').ForceDecimalNegativeEntry();
</script>