@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@model ErrorViewModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">
    @_localizer["Error."].Value
    
</h1>
<h2 class="text-danger">
    @_localizer["An error occurred while processing your request."].Value
    
</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>
            @_localizer["Request ID:"].Value
            
        </strong> <code>@Model.RequestId</code>
    </p>
}

<h3>
    @_localizer["DevelopmentMode"].Value
    
</h3>
<p>
    @_localizer["Swappingto"].Value

     <strong>
        @_localizer["Development"].Value
        
    </strong> @_localizer["environment will display more detailed information about the error that occurred."].Value
    
</p>
<p>
    <strong>
        @_localizer["The Development environment shouldn't be enabled for deployed applications."].Value
        
    </strong>@_localizer["It can result in displaying sensitive information from exceptions to end users."].Value


    @_localizer["For local debugging, enable the and restarting the app."].Value  <strong>@_localizer["Development"].Value </strong>@_localizer["environmentbysettingthe"].Value  <strong>@_localizer["ASPNETCORE_ENVIRONMENT"].Value </strong>@_localizer["environmentvariableto"].Value  <strong>@_localizer["Development"].Value </strong>
    
</p>
