@using CORE.DTOs.MotorClaim.Claims;
@{
    List<AuthorityMatrix> authorityMatrices = (List<AuthorityMatrix>)ViewData["AuthorityMatrix"];
    int? Filter = (int?)ViewData["Filter"];
}
@{
    await Html.RenderPartialAsync("_ContentSection");

}

<div class="policy-wrapper">
    <h2 class="heading">Documents Managment</h2>
    <div class="search-member">
        <form method="post" asp-action="SearchAuthorities" asp-controller="Setup">
            <div class="search-filter-wrapper">
                <select class="common-dropdown" name="Filter" id="ddlFilter">
                    <option value="">All Modules</option>
                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Claim)">@MotorClaims.Models.Enums.DocumnetType.Claim</option>
                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Claimant)">@MotorClaims.Models.Enums.DocumnetType.Claimant</option>
                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Fraud)">@MotorClaims.Models.Enums.DocumnetType.Fraud</option>
                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Reserve)">@MotorClaims.Models.Enums.DocumnetType.Reserve</option>
                    <option value="@((int)MotorClaims.Models.Enums.DocumnetType.Payment)">@MotorClaims.Models.Enums.DocumnetType.Payment</option>
                </select>
                <div class="search-heading-wrap">
                    <button class="button button-secondary" type="submit">Search</button>
                </div>
            </div>
        </form>
    </div>
</div>


<div class="transaction-details">
    <div class="search-heading-wrap" style="float: right;margin-bottom: 5px;">

        <button class="button button-secondary" onclick="UpdateAuthority(0)">Add Authority Level</button>
    </div>
    <table class="universal-table">
        <tr>
            <!-- <th>#</th> -->
            <th>Module Name</th>
            <th>User Name</th>
            <th>Role Name</th>
            <th>Min Limit</th>
            <th>Max Limit</th>
        </tr>
        @if (authorityMatrices != null)

            @foreach (var item in authorityMatrices)
            {
                <tr>
                    @{
                        var y = Enum.TryParse(item.ModuleId.ToString(), out MotorClaims.Models.Enums.DocumnetType parsedEnumValue);
                    }
                    <td class="tran" onclick="UpdateAuthority(@item.Id)">#@parsedEnumValue</td>

                    <td>@item.UserId</td>
                    <td>@item.RoleId</td>
                    <td>@item.MinLimit</td>
                    <td>@item.MaxLimit</td>
                </tr>
            }


    </table>
</div>




<div id="edit-Document-popup" class="edit-member-id-popup">
</div>
<div id="delete-Confirmation" class="delete-dependent-modal"></div>
<script>
    var element = document.getElementById("shad6");
    element.classList.add("Selected");
    $(function () {
        var filter = '@Filter';
        if (filter.length > 0) {
            $('#ddlFilter').val('@Filter');
        }
    })

</script>