
@using CORE.DTOs.APIs.MotorClaim;
@using CORE.DTOs.MotorClaim;
@using Newtonsoft.Json;
@using X.PagedList;
@using X.PagedList.Mvc.Core;
@{
    eClaimsObj searchObj = (eClaimsObj)ViewData["eClaims"];
}
@model IPagedList<eClaims>

<div class="add-member-detail">
    <div class="policy-wrapper">
        <div class="basic-detail" style="background:none !important">
            <h2 class="heading">eClaims</h2>
            <div class="search-member">
                <form method="post" asp-action="SearcheClaims" asp-controller="Operations" style="display:flow-root">
      

                    <div class="search-filter-wrapper">


                      

                        <div class="search-wrapper">
                            <span class="label">Registered From</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtFrom" name="RegisteredFrom" type="text" value="@(searchObj.RegisteredFrom.HasValue?searchObj.RegisteredFrom.Value.ToString("dd-MM.yyyy"):"")">
                            </div>
                        </div>


                        <div class="search-wrapper">
                            <span class="label">Registered To</span>
                            <div class="search-input-box-wrapper">

                                <div class="search-icon-wrapper">
                                    <img src="/assets/icons/calendar.svg" class="search-icon" alt="">
                                </div>
                                <input class="input-box" autocomplete="off" id="txtTo" name="RegisteredTo" type="text" value="@(searchObj.RegisteredTo.HasValue?searchObj.RegisteredTo.Value.ToString("dd-MM.yyyy"):"")">
                            </div>
                        </div>

                    </div>
                    <div class="search-heading-wrap" style="float: right;margin-top: 10px;">

                        <button class="button button-secondary" type="submit">Search</button>
                    </div>
                </form>
            </div>
        </div>
    </div>


    @if (Model != null && Model.Count > 0)
    {
        <div class="policy-members">
            <div class="heading-card">
                <h2 class="heading">eClaims Result</h2>
            </div>
            <div class="transaction-details">
                <table class="universal-table">
                    <tr>
                        <th>Accident Report</th>
                        <th>Sequence Number</th>
                        <th>Taqdeer Number</th>
                        <th>Owner National ID</th>

                    </tr>


                    @foreach (var clm in Model)
                    {

                        <tr>
                            <td class="tran"><a href="">@clm.AccidentReport</a></td>

                            <td>@clm.SequenceNumber</td>
                            <td>@clm.TaqdeerNumber</td>
                            <td>@clm.OwnerNationalID</td>

                        </tr>


                    }
                </table>
                    @Html.PagedListPager((IPagedList)Model,Page=>Url.Action("Index","Managing",new {Page}))
                  Showing @Model.FirstItemOnPage to @Model.LastItemOnPage of @Model.TotalItemCount eClaims
            </div>
        </div>
    }
    else
    {
        <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
            <span class="ui-icon ui-icon-info" style="float: left"></span>
            <span>No results found.</span>
        </div>
    }
</div>
<div class="aside-right">
    <div class="inner-wrapper">
        <div class="vehicle-item">
            <div class="vehicle-header">
                <img src="/assets/motor/motor.svg" class="vehicle-icon" />
                <div class="vehicle-info">
                    <span class="vehicle-name">vehicle.Vehicle.MakeDesc vehicle.Vehicle.ModelDesc / vehicle.Vehicle.SequanceNo vehicle.Vehicle.CustomNo</span>
                    <span class="vehicle-no" style="text-transform:uppercase">Plate Number : vehicle.Vehicle.PlateNo</span>
                </div>
            </div>
            <div class="vehicle-basic-body">
                <ul class="detail-list">
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/save.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Policy No</span>
                            <h3 class="value">policy.policy.PolicyNumber</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Effective Date</span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyEffectiveDate)</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Year of Manufacturing</span>
                            <h3 class="value">vehicle.Vehicle.ManufactureYear</h3>
                        </div>
                    </li>
                    <li class="detailed-item">
                        <span class="detailed-icon-wrap">
                            <img src="/assets/icons/calendar.svg" alt="" class="item-icon">
                        </span>
                        <div class="item-content">
                            <span class="label">Expiry Date</span>
                            <h3 class="value">HelpersDate.FormatDateNoTime(policy.policy.PolicyExpiryDate)</h3>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>


<div class="common-slide-popup" id="UpdateReserve"></div>
<div class="common-slide-popup" id="UpdateRecovery"></div>
<div class="edit-member-id-popup" id="OperationAssign"></div>
<script>
    $('#txtFrom').ForceDateEntry();
    $('#txtTo').ForceDateEntry();
</script>