@using CORE.DTOs.MotorClaim.Claims;
@using Newtonsoft.Json;

@model List<Claimants>
@{
    Layout = null;
    int VehicleId = (int)ViewData["VehicleId"];
    int PolicyId = (int)ViewData["PolicyId"];
    Claims claims = (Claims)ViewData["claims"];
}
@if (Model.Count > 0)
{
    <div class="transaction-details">
        <table class="universal-table">
            <tr>
                <!-- <th>#</th> -->
                <th>Claim Segment</th>
                <th>Claimant Serial</th>
                <th>Claimant Name</th>
                <th>Policy Number</th>
                <th>Make</th>
                <th>Model</th>
                <th>Chassis</th>
                <th>Driver Date of Birth</th>
                <th>Claimant Status</th>

            </tr>


            @foreach (var clm in Model)
            {

                <tr>
                    @{
                        ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                    {
                        PolicyId = PolicyId,
                        VehicleId = VehicleId,
                        ClaimId = clm.ClaimId,
                        ClaimantId = clm.Id
                    };
                    }
                    <td class="tran"><a  onclick="LoadClaimant('@MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))')" >#@claims.ClaimNo</a></td>
                    <td>@clm.Serial</td>
                    <td>@clm.ClaimantName</td>
                    <td>@claims.PolicyNo</td>
                    <td>@clm.MakeDesc</td>
                    <td>@clm.ModelDesc</td>
                    <td>@clm.ChassisNo</td>
                    <td>@(clm.DriverBirthDate.HasValue ? HelpersDate.FormatDateNoTime(clm.DriverBirthDate.Value) : string.Empty)</td>
                    @{
                        var y = Enum.TryParse(clm.ClaimantStatus.ToString(), out MotorClaims.Models.Enums.ClaimStatus parsedEnumValue);
                    }
                    <td>@parsedEnumValue</td>

                </tr>


            }
        </table>
    </div>
}
else
{
    <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
        <span class="ui-icon ui-icon-info" style="float: left"></span>
        <span>No results found.</span>
    </div>
}


                        <div id="ClaimantEntry">

                        </div>


                        <script>
                            function LoadClaimant(Id)
{
    $('#ClaimantEntry').load('/Claims/ClaimantsEntry/',{obj:Id});
}
                        </script>