@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@using CORE.DTOs.MotorClaim.Claims;
@using Newtonsoft.Json;

@model List<Claimants>
@{
    Layout = null;
    int VehicleId = (int)ViewData["VehicleId"];
    int PolicyId = (int)ViewData["PolicyId"];
    Claims claims = (Claims)ViewData["claims"];
    List<LookupTable> lookupTables = (List<LookupTable>)ViewData["query"];
}
@if (Model !=null && Model.Count > 0)
{
    <div class="transaction-details">

        <table class="universal-table">
            <tr>
                <!-- <th>#</th> -->
                <th>@_localizer["ClaimSegment"].Value </th>
                <th>@_localizer["ClaimantType"].Value </th>
                <th> @_localizer["ClaimantName"].Value </th>
                <th> @_localizer["PolicyNumber"].Value </th>
                <th> @_localizer["Make"].Value </th>
                <th> @_localizer["Model"].Value </th>
                <th> @_localizer["Chassis"].Value </th>
                <th> @_localizer["DriverDateofBirth"].Value </th>
                <th>@_localizer["ClaimantStatus"].Value </th>

            </tr>


            @foreach (var clm in Model)
            {

                <tr>
                    @{
                        ClaimSearchobj claimSearchobj = new ClaimSearchobj()
                    {
                        PolicyId = PolicyId,
                        VehicleId = VehicleId,
                        ClaimId = clm.ClaimId,
                        ClaimantId = clm.Id
                    };

                            var ClaimantType = Helpers.GetLookups(clm.ClaimantType.ToString(), (int)Enums.Lookups.ClaimantType, lookupTables);

                    }
                    <td class="tran"><a  onclick="LoadClaimant('@MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj))')" >#@claims.ClaimNo</a></td>
                    <td>@ClaimantType</td>
                    <td>@clm.ClaimantName</td>
                    <td>@claims.PolicyNo</td>
                    <td>@clm.MakeDesc</td>
                    <td>@clm.ModelDesc</td>
                    <td>@clm.ChassisNo</td>
                    <td>@(clm.DriverBirthDate.HasValue ? HelpersDate.FormatDateNoTime(clm.DriverBirthDate.Value) : string.Empty)</td>
                    @{
                        var y = Enum.TryParse(clm.ClaimantStatus.ToString(), out MotorClaims.Models.Enums.ClaimStatus parsedEnumValue);
                    }
                    <td>@parsedEnumValue</td>

                </tr>


            }
        </table>
    </div>
}
else
{
    <div class="ui-state-highlight ui-corner-all" style="background:none !important;margin-top: 1%;">
        <span class="ui-icon ui-icon-info" style="float: left"></span>
        <span> @_localizer["Noresultsfound"].Value .</span>
    </div>
}
    <div class="footer-actions-handle" style="position:inherit !important; width:100%">
          <div class="next-button" style="margin-right:5px">
                    @{
                        ClaimSearchobj claimSearchobj2 = new ClaimSearchobj()
                    {
                        PolicyId = PolicyId,
                        VehicleId = VehicleId,
                        ClaimId = claims.Id,
                        ClaimantId = 0
                    };
                    }
                                <button type="button" class="button button-primary" onclick="LoadClaimant('@MotorClaims.Models.Helpers.Encrypt(JsonConvert.SerializeObject(claimSearchobj2))')">
                                    Add New Claimant
                                </button>
                        

                        </div>
                                </div>
                        <div id="ClaimantEntry">

                        </div>


                        <script>
                            function LoadClaimant(Id)
{
    $('#ClaimantEntry').load('/Claims/ClaimantsEntry/',{obj:Id});
}
                        </script>