@{
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
<div class="auth-inner-wrapper">
    <div class="auth-form-component">
        <h2 class="auth-heading">@_localizer["ForgotPassword"]</h2>
        <form class="form-wrapper" asp-controller="Authenticator">
            <div class="form-field-wrapper">
                <div class="form-input-wrapper">
                    <img src="~/assets/Content/Images/Mail.svg" class="icon" />
                    <input class="form-inputbox" id="txtEmail" name="Email" autocomplete="off" type="text" maxlength="50" required />
                    <label class="form-label" for="txtEmail">@_localizer["ex"]</label>


                </div>
            </div>

            <div class="submit-button-wrapper">
                <button class="button button-primary" type="submit" asp-action="Forget">@_localizer["RESETPASSWORD"]</button>

            </div>

        </form>
        <div class="terms-wrapper">
            <p class="term">@_localizer["Remember"] <a href="@Url.Action("Login", "Authentication")" class="orange-link">@_localizer["Login"]</a></p>
        </div>
    </div>
</div>






