@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.Extensions.Options
@using Microsoft.AspNetCore.Http.Features
@using System.Globalization

@inject IViewLocalizer _localizer
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@_localizer["login"].Value </title>
    <!-- styles -->
    <link href="~/styles/commonStyle.css" rel="stylesheet" />
    <link href="~/styles/loginstyle/loginStyle.css" rel="stylesheet" />
    <link href="~/styles/authFooter/authFooter.css" rel="stylesheet" />
    <link href="~/styles/header/header.css" rel="stylesheet" />
    <link href="~/styles/header/authHeader.css" rel="stylesheet" />
    <link href="~/styles/languageStyle/languageStyle.css" rel="stylesheet" />
    <!-- fonts -->

    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <!-- icons  -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
        integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <div class="auth-layout-wrapper false">
        <header class="header">
            <div class="auth-header-wrapper">
                <div class="auth-logo">
                    <svg width="153" height="46" viewBox="0 0 153 46" fill="none" xmlns="http://www.w3.org/2000/svg"
                        class="logo">
                        <path
                            d="M25.5346 9.25945C25.5346 9.25945 11.9514 1.38402 4.7853 7.89732C4.56392 8.17438 4.53517 8.5704 4.73068 8.87648C4.80255 8.99253 6.58221 11.7574 10.8359 11.7574C12.9605 11.7574 14.6511 10.7318 16.2841 9.7367C17.864 8.77639 19.3504 7.8683 21.1947 7.8683C22.8004 7.8683 24.156 8.50367 25.536 9.25945"
                            fill="#A8A9CF"></path>
                        <path
                            d="M40.9711 13.643C40.8446 13.3108 40.5183 13.0889 40.1589 13.1048C40.0238 13.1092 36.7606 13.2818 34.633 16.9997C33.5707 18.8565 33.6052 20.8468 33.644 22.7717C33.6785 24.6329 33.713 26.3852 32.7915 27.9969C31.9894 29.3996 30.7661 30.2686 29.4277 31.0954C29.4392 31.0882 42.9779 23.1591 40.9697 13.643"
                            fill="#A8A9CF"></path>
                        <path
                            d="M18.0999 35.1485C17.0375 33.2917 15.3125 32.3271 13.6406 31.3987C12.0263 30.4978 10.504 29.6521 9.5825 28.0419C8.77892 26.6392 8.64667 25.1363 8.60498 23.5537C8.60498 23.5581 8.63804 39.3626 17.8109 42.3668C18.1602 42.4219 18.5139 42.2479 18.6792 41.9258C18.7439 41.8054 20.226 38.8679 18.0999 35.15"
                            fill="#A8A9CF"></path>
                        <path
                            d="M4.78516 7.89718C8.82605 2.87803 14.8091 0 21.1931 0C27.5772 0 33.553 2.87803 37.5939 7.89718C37.8354 8.19746 37.8412 8.62539 37.6083 8.93438C37.5306 9.03592 35.6331 11.4947 31.5462 11.4947C29.5107 11.4947 27.8316 10.5504 26.2159 9.63648C25.9873 9.50882 25.7602 9.38117 25.5345 9.25787C25.5345 9.25787 11.9512 1.38244 4.78516 7.89573"
                            fill="#6B47F5"></path>
                        <path
                            d="M40.9711 13.643C43.2582 19.6849 42.7364 26.3519 39.545 31.931C36.3566 37.5043 30.8954 41.2933 24.5674 42.3146C24.1894 42.3755 23.8185 42.1666 23.669 41.8083C23.6215 41.6894 22.4586 38.8026 24.5027 35.2297C25.5205 33.4498 27.1694 32.4562 28.7621 31.5002C28.9864 31.3638 29.2092 31.2289 29.4292 31.094C29.4292 31.094 42.9807 23.1606 40.9725 13.6416"
                            fill="#6B47F5"></path>
                        <path
                            d="M17.8109 42.3667C11.4829 41.344 6.02172 37.555 2.82897 31.9759C-0.359474 26.4026 -0.879864 19.7355 1.40581 13.6937C1.54237 13.3325 1.90751 13.1134 2.28845 13.1613C2.41496 13.1787 5.47258 13.6067 7.51675 17.1781C8.53452 18.958 8.56471 20.896 8.58771 22.7659C8.59203 23.0299 8.59634 23.291 8.60352 23.5507C8.60352 23.5507 8.63659 39.3595 17.8095 42.3638"
                            fill="#6B47F5"></path>
                        <path
                            d="M25.5346 9.25945C25.5346 9.25945 11.9514 1.38402 4.7853 7.89732C4.56392 8.17438 4.53517 8.5704 4.73068 8.87648C4.80255 8.99253 6.58221 11.7574 10.8359 11.7574C12.9605 11.7574 14.6511 10.7318 16.2841 9.7367C17.864 8.77639 19.3504 7.8683 21.1947 7.8683C22.8004 7.8683 24.156 8.50367 25.536 9.25945"
                            fill="#A8A9CF"></path>
                        <path
                            d="M40.9711 13.643C40.8446 13.3108 40.5183 13.0889 40.1589 13.1048C40.0238 13.1092 36.7606 13.2818 34.633 16.9997C33.5707 18.8565 33.6052 20.8468 33.644 22.7717C33.6785 24.6329 33.713 26.3852 32.7915 27.9969C31.9894 29.3996 30.7661 30.2686 29.4277 31.0954C29.4392 31.0882 42.9779 23.1591 40.9697 13.643"
                            fill="#A8A9CF"></path>
                        <path
                            d="M18.0999 35.1485C17.0375 33.2917 15.3125 32.3271 13.6406 31.3987C12.0263 30.4978 10.504 29.6521 9.5825 28.0419C8.77892 26.6392 8.64667 25.1363 8.60498 23.5537C8.60498 23.5581 8.63804 39.3626 17.8109 42.3668C18.1602 42.4219 18.5139 42.2479 18.6792 41.9258C18.7439 41.8054 20.226 38.8679 18.0999 35.15"
                            fill="#A8A9CF"></path>
                        <path
                            d="M4.78516 7.89718C8.82605 2.87803 14.8091 0 21.1931 0C27.5772 0 33.553 2.87803 37.5939 7.89718C37.8354 8.19746 37.8412 8.62539 37.6083 8.93438C37.5306 9.03592 35.6331 11.4947 31.5462 11.4947C29.5107 11.4947 27.8316 10.5504 26.2159 9.63648C25.9873 9.50882 25.7602 9.38117 25.5345 9.25787C25.5345 9.25787 11.9512 1.38244 4.78516 7.89573"
                            fill="#6B47F5"></path>
                        <path
                            d="M40.9711 13.643C43.2582 19.6849 42.7364 26.3519 39.545 31.931C36.3566 37.5043 30.8954 41.2933 24.5674 42.3146C24.1894 42.3755 23.8185 42.1666 23.669 41.8083C23.6215 41.6894 22.4586 38.8026 24.5027 35.2297C25.5205 33.4498 27.1694 32.4562 28.7621 31.5002C28.9864 31.3638 29.2092 31.2289 29.4292 31.094C29.4292 31.094 42.9807 23.1606 40.9725 13.6416"
                            fill="#6B47F5"></path>
                        <path
                            d="M17.8109 42.3667C11.4829 41.344 6.02172 37.555 2.82897 31.9759C-0.359474 26.4026 -0.879864 19.7355 1.40581 13.6937C1.54237 13.3325 1.90751 13.1134 2.28845 13.1613C2.41496 13.1787 5.47258 13.6067 7.51675 17.1781C8.53452 18.958 8.56471 20.896 8.58771 22.7659C8.59203 23.0299 8.59634 23.291 8.60352 23.5507C8.60352 23.5507 8.63659 39.3595 17.8095 42.3638"
                            fill="#6B47F5"></path>
                        <path
                            d="M93.4711 14.3566H90.9066C90.2884 14.3566 87.7411 14.3178 87.7411 11.5146C87.7411 9.64866 88.8969 8.48858 90.5386 8.48858C92.4332 8.48858 93.4711 9.87436 93.4711 12.6474V14.358V14.3566ZM96.1723 12.4447C96.1723 8.7689 94.5047 6.22447 90.7686 6.22447C87.836 6.22447 84.994 7.87044 84.994 11.608C84.994 15.3456 88.1221 16.6451 90.9526 16.6451H93.4711V17.0146C93.4711 18.4895 92.554 20.0176 90.4466 20.0176C89.2592 20.0176 88.4498 19.7056 86.7349 18.8373C85.8048 19.9831 86.3755 20.9203 87.2725 21.366C88.3665 21.9093 89.574 22.1767 90.7945 22.194C94.7189 22.2515 96.1723 19.9083 96.1723 15.9853V12.4447Z"
                            fill="#312E52"></path>
                        <path
                            d="M62.1732 11.3062C62.1732 12.2607 61.9303 13.0082 61.4458 13.5473C60.96 14.0863 60.2872 14.3566 59.4247 14.3566C58.5622 14.3566 57.9383 14.118 57.461 13.6407C56.9837 13.1634 56.7451 12.5238 56.7451 11.723C56.7451 10.7225 57.1218 9.9592 57.8779 9.43594C58.6326 8.91268 59.7337 8.64961 61.1813 8.64961H62.1747V11.3062H62.1732ZM67.3943 16.6667C67.7307 16.6696 68.1965 16.6638 68.5257 16.6667C69.6987 16.6768 70.9235 16.717 72.0404 16.2973C72.6557 16.0658 73.1344 15.6576 73.4737 15.0725C74.0285 16.1204 74.9759 16.6437 76.3157 16.6437H83.5824V6.61551C83.4444 6.53932 83.1684 6.4775 82.9384 6.43006C82.7069 6.38406 82.4841 6.36106 82.2685 6.36106C81.853 6.36106 81.5181 6.46456 81.2636 6.67301C81.0092 6.88145 80.8827 7.18477 80.8827 7.58584V14.3552H78.0479C76.9597 14.3552 75.5293 14.404 75.0779 13.1534C74.9155 12.7063 74.835 12.0824 74.835 11.2817V6.61407C74.697 6.53788 74.421 6.47606 74.191 6.42863C73.9595 6.38262 73.7367 6.35963 73.5211 6.35963C73.1057 6.35963 72.7707 6.46313 72.5163 6.67157C72.2618 6.88001 72.1353 7.18333 72.1353 7.5844V11.2817C72.1353 12.0681 72.0577 12.6833 71.9039 13.1304C71.5431 14.1755 70.406 14.348 69.4241 14.3638C68.6853 14.3767 67.7854 14.3897 67.0508 14.3552C66.483 14.3278 65.826 14.2114 65.4192 13.7773C65.0569 13.392 64.8758 12.7221 64.8758 11.7676V6.36106H61.1368C58.933 6.36106 57.1979 6.83401 55.9272 7.78134C54.6564 8.72867 54.021 10.034 54.021 11.6972C54.021 12.6833 54.2409 13.5458 54.6794 14.2847C55.1178 15.0236 55.7388 15.6015 56.5396 16.0169C57.3403 16.4324 58.3551 16.6408 59.4017 16.6408C61.1569 16.6408 62.5355 16.0946 63.5375 15.0006C63.8609 15.5253 64.3108 15.9293 64.8887 16.2139C65.6664 16.5977 66.5347 16.6566 67.3958 16.6638"
                            fill="#312E52"></path>
                        <path
                            d="M58.6368 5.02417C59.0566 5.02417 59.4131 4.87466 59.7049 4.57566C59.9953 4.27665 60.1419 3.92446 60.1419 3.52051C60.1419 3.11657 59.9967 2.74425 59.7049 2.45243C59.4131 2.16061 59.058 2.01542 58.6368 2.01542C58.2156 2.01542 57.885 2.16061 57.5932 2.45243C57.3028 2.74425 57.1562 3.09932 57.1562 3.52051C57.1562 3.94171 57.3014 4.27665 57.5932 4.57566C57.885 4.87466 58.2315 5.02417 58.6368 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M62.6806 5.02417C63.1004 5.02417 63.4612 4.87466 63.7602 4.57566C64.0592 4.27665 64.2087 3.92446 64.2087 3.52051C64.2087 3.11657 64.0592 2.74425 63.7602 2.45243C63.4612 2.16061 63.1018 2.01542 62.6806 2.01542C62.2594 2.01542 61.9288 2.16061 61.637 2.45243C61.3451 2.74425 61.1999 3.09932 61.1999 3.52051C61.1999 3.94171 61.3451 4.27665 61.637 4.57566C61.9288 4.87466 62.2752 5.02417 62.6806 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M82.2209 4.97815C82.6407 4.97815 82.9972 4.82865 83.289 4.52965C83.5794 4.23064 83.726 3.87845 83.726 3.4745C83.726 3.07055 83.5808 2.71836 83.289 2.41935C82.9972 2.12035 82.6421 1.97085 82.2209 1.97085C81.7997 1.97085 81.436 2.12035 81.1298 2.41935C80.8222 2.71836 80.6684 3.07055 80.6684 3.4745C80.6684 3.87845 80.8222 4.23064 81.1298 4.52965C81.4375 4.82865 81.8012 4.97815 82.2209 4.97815Z"
                            fill="#312E52"></path>
                        <path
                            d="M151.573 0.00143893C150.785 0.00143893 150.187 0.38957 150.187 1.22621V16.6451H152.889V0.25588C152.482 0.0805014 151.941 0.00143893 151.573 0.00143893Z"
                            fill="#312E52"></path>
                        <path
                            d="M138.454 5.02417C138.874 5.02417 139.235 4.87466 139.534 4.57566C139.833 4.27665 139.982 3.92446 139.982 3.52051C139.982 3.11657 139.833 2.74425 139.534 2.45243C139.235 2.16061 138.874 2.01542 138.454 2.01542C138.035 2.01542 137.702 2.16061 137.411 2.45243C137.12 2.74425 136.974 3.09932 136.974 3.52051C136.974 3.94171 137.119 4.27665 137.411 4.57566C137.702 4.87466 138.049 5.02417 138.454 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M134.412 5.02417C134.833 5.02417 135.188 4.87466 135.48 4.57566C135.77 4.27665 135.917 3.92446 135.917 3.52051C135.917 3.11657 135.772 2.74425 135.48 2.45243C135.19 2.16061 134.833 2.01542 134.412 2.01542C133.991 2.01542 133.66 2.16061 133.368 2.45243C133.078 2.74425 132.931 3.09932 132.931 3.52051C132.931 3.94171 133.076 4.27665 133.368 4.57566C133.66 4.87466 134.008 5.02417 134.412 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M148.389 16.6437V0.254445C148.251 0.178256 147.975 0.116441 147.745 0.069003C147.514 0.023002 147.291 0 147.075 0C146.66 0 146.325 0.103504 146.07 0.311946C145.816 0.520387 145.689 0.823707 145.689 1.22478V14.3566H137.945V6.6457C137.731 6.55801 137.513 6.47463 137.286 6.42144C137.063 6.36969 136.837 6.36107 136.609 6.36107C136.176 6.36107 135.841 6.46601 135.602 6.67157C135.362 6.88001 135.244 7.20059 135.244 7.63184V14.3552H125.886C120.852 14.3552 118.379 11.4442 116.969 9.67026C118.3 8.55186 119.825 8.45267 120.688 8.51017C121.897 8.59067 123.017 9.0435 123.734 9.71338C123.264 10.3373 122.298 11.4183 121.2 12.2866C121.907 12.6733 122.703 13.0226 123.659 13.2095C125.184 11.7719 126.257 10.2453 126.631 9.65301C126.363 9.23038 124.894 6.4962 120.84 6.22882C116.459 5.93843 114.249 9.10387 113.87 9.55669C115.168 11.2214 116.325 12.6646 117.961 13.9699C117.167 14.2114 116.305 14.3566 115.376 14.3566H100.216V0.254445C100.078 0.178256 99.8925 0.116441 99.6611 0.069003C99.4296 0.023002 99.1163 0 98.9006 0C98.4852 0 98.1502 0.103504 97.8958 0.311946C97.6413 0.520387 97.5149 0.823707 97.5149 1.22478V16.6437H115.376C117.192 16.6437 118.867 16.188 120.353 15.4649C122.018 16.2484 123.872 16.6437 125.886 16.6437H148.389Z"
                            fill="#312E52"></path>
                        <path
                            d="M71.3087 21.0871C71.7285 21.0871 72.085 20.9376 72.3768 20.6386C72.6672 20.3396 72.8138 19.9874 72.8138 19.5835C72.8138 19.1795 72.6686 18.8072 72.3768 18.5154C72.085 18.2236 71.7299 18.0784 71.3087 18.0784C70.8875 18.0784 70.5569 18.2236 70.2651 18.5154C69.9747 18.8072 69.8281 19.1623 69.8281 19.5835C69.8281 20.0047 69.9733 20.3396 70.2651 20.6386C70.5569 20.9376 70.9033 21.0871 71.3087 21.0871Z"
                            fill="#312E52"></path>
                        <path
                            d="M75.3511 21.0871C75.7708 21.0871 76.1317 20.9376 76.4307 20.6386C76.7297 20.3396 76.8792 19.9874 76.8792 19.5835C76.8792 19.1795 76.7297 18.8072 76.4307 18.5154C76.1317 18.2236 75.7723 18.0784 75.3511 18.0784C74.9299 18.0784 74.5993 18.2236 74.3074 18.5154C74.0156 18.8072 73.8704 19.1623 73.8704 19.5835C73.8704 20.0047 74.0156 20.3396 74.3074 20.6386C74.5993 20.9376 74.9457 21.0871 75.3511 21.0871Z"
                            fill="#312E52"></path>
                        <path
                            d="M93.4711 14.3566H90.9066C90.2884 14.3566 87.7411 14.3178 87.7411 11.5146C87.7411 9.64866 88.8969 8.48858 90.5386 8.48858C92.4332 8.48858 93.4711 9.87436 93.4711 12.6474V14.358V14.3566ZM96.1723 12.4447C96.1723 8.7689 94.5047 6.22447 90.7686 6.22447C87.836 6.22447 84.994 7.87044 84.994 11.608C84.994 15.3456 88.1221 16.6451 90.9526 16.6451H93.4711V17.0146C93.4711 18.4895 92.554 20.0176 90.4466 20.0176C89.2592 20.0176 88.4498 19.7056 86.7349 18.8373C85.8048 19.9831 86.3755 20.9203 87.2725 21.366C88.3665 21.9093 89.574 22.1767 90.7945 22.194C94.7189 22.2515 96.1723 19.9083 96.1723 15.9853V12.4447Z"
                            fill="#312E52"></path>
                        <path
                            d="M62.1732 11.3062C62.1732 12.2607 61.9303 13.0082 61.4458 13.5473C60.96 14.0863 60.2872 14.3566 59.4247 14.3566C58.5622 14.3566 57.9383 14.118 57.461 13.6407C56.9837 13.1634 56.7451 12.5238 56.7451 11.723C56.7451 10.7225 57.1218 9.9592 57.8779 9.43594C58.6326 8.91268 59.7337 8.64961 61.1813 8.64961H62.1747V11.3062H62.1732ZM67.3943 16.6667C67.7307 16.6696 68.1965 16.6638 68.5257 16.6667C69.6987 16.6768 70.9235 16.717 72.0404 16.2973C72.6557 16.0658 73.1344 15.6576 73.4737 15.0725C74.0285 16.1204 74.9759 16.6437 76.3157 16.6437H83.5824V6.61551C83.4444 6.53932 83.1684 6.4775 82.9384 6.43006C82.7069 6.38406 82.4841 6.36106 82.2685 6.36106C81.853 6.36106 81.5181 6.46456 81.2636 6.67301C81.0092 6.88145 80.8827 7.18477 80.8827 7.58584V14.3552H78.0479C76.9597 14.3552 75.5293 14.404 75.0779 13.1534C74.9155 12.7063 74.835 12.0824 74.835 11.2817V6.61407C74.697 6.53788 74.421 6.47606 74.191 6.42863C73.9595 6.38262 73.7367 6.35963 73.5211 6.35963C73.1057 6.35963 72.7707 6.46313 72.5163 6.67157C72.2618 6.88001 72.1353 7.18333 72.1353 7.5844V11.2817C72.1353 12.0681 72.0577 12.6833 71.9039 13.1304C71.5431 14.1755 70.406 14.348 69.4241 14.3638C68.6853 14.3767 67.7854 14.3897 67.0508 14.3552C66.483 14.3278 65.826 14.2114 65.4192 13.7773C65.0569 13.392 64.8758 12.7221 64.8758 11.7676V6.36106H61.1368C58.933 6.36106 57.1979 6.83401 55.9272 7.78134C54.6564 8.72867 54.021 10.034 54.021 11.6972C54.021 12.6833 54.2409 13.5458 54.6794 14.2847C55.1178 15.0236 55.7388 15.6015 56.5396 16.0169C57.3403 16.4324 58.3551 16.6408 59.4017 16.6408C61.1569 16.6408 62.5355 16.0946 63.5375 15.0006C63.8609 15.5253 64.3108 15.9293 64.8887 16.2139C65.6664 16.5977 66.5347 16.6566 67.3958 16.6638"
                            fill="#312E52"></path>
                        <path
                            d="M58.6368 5.02417C59.0566 5.02417 59.4131 4.87466 59.7049 4.57566C59.9953 4.27665 60.1419 3.92446 60.1419 3.52051C60.1419 3.11657 59.9967 2.74425 59.7049 2.45243C59.4131 2.16061 59.058 2.01542 58.6368 2.01542C58.2156 2.01542 57.885 2.16061 57.5932 2.45243C57.3028 2.74425 57.1562 3.09932 57.1562 3.52051C57.1562 3.94171 57.3014 4.27665 57.5932 4.57566C57.885 4.87466 58.2315 5.02417 58.6368 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M62.6806 5.02417C63.1004 5.02417 63.4612 4.87466 63.7602 4.57566C64.0592 4.27665 64.2087 3.92446 64.2087 3.52051C64.2087 3.11657 64.0592 2.74425 63.7602 2.45243C63.4612 2.16061 63.1018 2.01542 62.6806 2.01542C62.2594 2.01542 61.9288 2.16061 61.637 2.45243C61.3451 2.74425 61.1999 3.09932 61.1999 3.52051C61.1999 3.94171 61.3451 4.27665 61.637 4.57566C61.9288 4.87466 62.2752 5.02417 62.6806 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M82.2209 4.97815C82.6407 4.97815 82.9972 4.82865 83.289 4.52965C83.5794 4.23064 83.726 3.87845 83.726 3.4745C83.726 3.07055 83.5808 2.71836 83.289 2.41935C82.9972 2.12035 82.6421 1.97085 82.2209 1.97085C81.7997 1.97085 81.436 2.12035 81.1298 2.41935C80.8222 2.71836 80.6684 3.07055 80.6684 3.4745C80.6684 3.87845 80.8222 4.23064 81.1298 4.52965C81.4375 4.82865 81.8012 4.97815 82.2209 4.97815Z"
                            fill="#312E52"></path>
                        <path
                            d="M151.573 0.00143893C150.785 0.00143893 150.187 0.38957 150.187 1.22621V16.6451H152.889V0.25588C152.482 0.0805014 151.941 0.00143893 151.573 0.00143893Z"
                            fill="#312E52"></path>
                        <path
                            d="M138.454 5.02417C138.874 5.02417 139.235 4.87466 139.534 4.57566C139.833 4.27665 139.982 3.92446 139.982 3.52051C139.982 3.11657 139.833 2.74425 139.534 2.45243C139.235 2.16061 138.874 2.01542 138.454 2.01542C138.035 2.01542 137.702 2.16061 137.411 2.45243C137.12 2.74425 136.974 3.09932 136.974 3.52051C136.974 3.94171 137.119 4.27665 137.411 4.57566C137.702 4.87466 138.049 5.02417 138.454 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M134.412 5.02417C134.833 5.02417 135.188 4.87466 135.48 4.57566C135.77 4.27665 135.917 3.92446 135.917 3.52051C135.917 3.11657 135.772 2.74425 135.48 2.45243C135.19 2.16061 134.833 2.01542 134.412 2.01542C133.991 2.01542 133.66 2.16061 133.368 2.45243C133.078 2.74425 132.931 3.09932 132.931 3.52051C132.931 3.94171 133.076 4.27665 133.368 4.57566C133.66 4.87466 134.008 5.02417 134.412 5.02417Z"
                            fill="#312E52"></path>
                        <path
                            d="M148.389 16.6437V0.254445C148.251 0.178256 147.975 0.116441 147.745 0.069003C147.514 0.023002 147.291 0 147.075 0C146.66 0 146.325 0.103504 146.07 0.311946C145.816 0.520387 145.689 0.823707 145.689 1.22478V14.3566H137.945V6.6457C137.731 6.55801 137.513 6.47463 137.286 6.42144C137.063 6.36969 136.837 6.36107 136.609 6.36107C136.176 6.36107 135.841 6.46601 135.602 6.67157C135.362 6.88001 135.244 7.20059 135.244 7.63184V14.3552H125.886C120.852 14.3552 118.379 11.4442 116.969 9.67026C118.3 8.55186 119.825 8.45267 120.688 8.51017C121.897 8.59067 123.017 9.0435 123.734 9.71338C123.264 10.3373 122.298 11.4183 121.2 12.2866C121.907 12.6733 122.703 13.0226 123.659 13.2095C125.184 11.7719 126.257 10.2453 126.631 9.65301C126.363 9.23038 124.894 6.4962 120.84 6.22882C116.459 5.93843 114.249 9.10387 113.87 9.55669C115.168 11.2214 116.325 12.6646 117.961 13.9699C117.167 14.2114 116.305 14.3566 115.376 14.3566H100.216V0.254445C100.078 0.178256 99.8925 0.116441 99.6611 0.069003C99.4296 0.023002 99.1163 0 98.9006 0C98.4852 0 98.1502 0.103504 97.8958 0.311946C97.6413 0.520387 97.5149 0.823707 97.5149 1.22478V16.6437H115.376C117.192 16.6437 118.867 16.188 120.353 15.4649C122.018 16.2484 123.872 16.6437 125.886 16.6437H148.389Z"
                            fill="#312E52"></path>
                        <path
                            d="M71.3087 21.0871C71.7285 21.0871 72.085 20.9376 72.3768 20.6386C72.6672 20.3396 72.8138 19.9874 72.8138 19.5835C72.8138 19.1795 72.6686 18.8072 72.3768 18.5154C72.085 18.2236 71.7299 18.0784 71.3087 18.0784C70.8875 18.0784 70.5569 18.2236 70.2651 18.5154C69.9747 18.8072 69.8281 19.1623 69.8281 19.5835C69.8281 20.0047 69.9733 20.3396 70.2651 20.6386C70.5569 20.9376 70.9033 21.0871 71.3087 21.0871Z"
                            fill="#312E52"></path>
                        <path
                            d="M75.3511 21.0871C75.7708 21.0871 76.1317 20.9376 76.4307 20.6386C76.7297 20.3396 76.8792 19.9874 76.8792 19.5835C76.8792 19.1795 76.7297 18.8072 76.4307 18.5154C76.1317 18.2236 75.7723 18.0784 75.3511 18.0784C74.9299 18.0784 74.5993 18.2236 74.3074 18.5154C74.0156 18.8072 73.8704 19.1623 73.8704 19.5835C73.8704 20.0047 74.0156 20.3396 74.3074 20.6386C74.5993 20.9376 74.9457 21.0871 75.3511 21.0871Z"
                            fill="#312E52"></path>
                        <path
                            d="M63.7459 36.6866C63.5719 36.8131 63.3146 37.0043 62.9207 37.1466C62.5254 37.2889 62.0985 37.3593 61.6413 37.3593C61.3567 37.3593 61.085 37.3277 60.8234 37.2645C60.5632 37.2012 60.3332 37.0905 60.1362 36.9324C59.9379 36.7743 59.7841 36.5658 59.6748 36.3042C59.5641 36.044 59.508 35.7076 59.508 35.2965V30.0121H64.0578C64.1053 29.9173 64.1685 29.7548 64.2476 29.5262C64.3266 29.2977 64.3655 29.049 64.3655 28.7802C64.3655 28.369 64.2591 28.0571 64.0463 27.8443C63.8336 27.6316 63.4656 27.5238 62.9437 27.5238H59.508V24.4201C59.429 24.3885 59.2665 24.3368 59.0222 24.2663C58.7763 24.1959 58.5133 24.16 58.2286 24.16C57.7859 24.16 57.4394 24.2591 57.1864 24.4561C56.9334 24.6545 56.8069 24.9736 56.8069 25.4164V27.5252H55.4427C54.9209 27.5252 54.5543 27.6316 54.3401 27.8458C54.1274 28.0585 54.021 28.3705 54.021 28.7816C54.021 29.0504 54.0612 29.2991 54.1389 29.5277C54.2179 29.7562 54.2812 29.9187 54.3286 30.0136H56.8069V35.8427C56.8069 37.0115 57.162 37.9559 57.8736 38.6747C58.5851 39.3934 59.6346 39.7528 61.0246 39.7528C61.5134 39.7528 61.9633 39.7097 62.3745 39.622C62.7856 39.5343 63.1565 39.4279 63.4886 39.3014C63.8206 39.1749 64.101 39.0413 64.3295 38.8989C64.5581 38.7566 64.7363 38.6387 64.8628 38.5439C64.8628 38.5439 64.7536 38.0537 64.4531 37.5577C64.1527 37.0618 63.7444 36.6866 63.7444 36.6866"
                            fill="#312E52"></path>
                        <path
                            d="M125.36 27.5266C124.901 27.5266 124.546 27.6258 124.293 27.8228C124.04 28.0211 123.914 28.3403 123.914 28.783V39.4222H126.615V27.7883C126.536 27.7566 126.378 27.7049 126.14 27.6344C125.903 27.564 125.642 27.5281 125.358 27.5281"
                            fill="#312E52"></path>
                        <path
                            d="M125.265 22.1948C124.806 22.1948 124.42 22.353 124.103 22.6692C123.787 22.9855 123.629 23.3722 123.629 23.8307C123.629 24.2893 123.787 24.676 124.103 24.9923C124.42 25.3085 124.806 25.4666 125.265 25.4666C125.723 25.4666 126.11 25.3085 126.426 24.9923C126.743 24.676 126.901 24.2893 126.901 23.8307C126.901 23.3722 126.743 22.9855 126.426 22.6692C126.11 22.353 125.723 22.1948 125.265 22.1948Z"
                            fill="#312E52"></path>
                        <path
                            d="M150.195 37.5117C149.602 37.5721 148.073 37.6425 147.905 37.6454C147.068 37.6612 146.168 37.6195 145.376 37.3234C144.682 37.0632 144.026 36.4911 143.882 35.7493C143.861 35.6415 143.852 35.5279 143.854 35.4129C143.871 34.6582 144.364 33.9467 145.017 33.6045C145.773 33.2078 146.766 33.2581 147.594 33.3098C148.36 33.3573 149.361 33.4493 150.183 33.5427C150.187 33.8705 150.19 34.1278 150.193 34.1278V37.5103L150.195 37.5117ZM151.119 28.3475C150.564 27.9536 149.906 27.6646 149.141 27.4821C148.373 27.3024 147.525 27.2089 146.594 27.2089C145.819 27.2089 145.179 27.2564 144.675 27.3513C144.167 27.4461 143.765 27.577 143.466 27.7423C143.165 27.9076 142.957 28.0973 142.837 28.3115C142.719 28.5243 142.659 28.7428 142.659 28.9627C142.659 29.2804 142.742 29.5478 142.908 29.7678C143.073 29.9906 143.204 30.1401 143.299 30.2177C143.471 30.0754 143.832 29.9029 144.377 29.6959C144.922 29.4917 145.645 29.3882 146.545 29.3882C147.079 29.3882 147.571 29.4285 148.014 29.5061C148.455 29.5866 148.833 29.7289 149.151 29.9331C149.466 30.1386 149.714 30.4233 149.897 30.7855C149.975 30.9422 150.032 31.1205 150.077 31.3117C148.681 31.1435 147.069 31.0069 146.141 31.0946C145.15 31.188 144.138 31.3807 143.297 31.9125C141.485 33.0597 140.864 35.5035 141.919 37.3637C142.428 38.2621 143.333 38.8874 144.305 39.2353C145.277 39.5832 146.32 39.6781 147.353 39.7183C148.941 39.7801 150.545 39.681 152.122 39.4941C152.462 39.4567 152.71 39.4208 152.868 39.3877V32.2561C152.868 31.3418 152.715 30.5598 152.407 29.9101C152.099 29.2632 151.668 28.7428 151.116 28.346"
                            fill="#312E52"></path>
                        <path
                            d="M74.1234 37.5117C73.5311 37.5721 72.0016 37.6425 71.8349 37.6454C70.9968 37.6612 70.0983 37.6195 69.3062 37.3234C68.6119 37.0632 67.9564 36.4911 67.8127 35.7507C67.7911 35.6415 67.781 35.5294 67.7839 35.4144C67.8011 34.6597 68.2942 33.9481 68.9469 33.6059C69.703 33.2092 70.6963 33.2595 71.5244 33.3113C72.2906 33.3587 73.2911 33.4507 74.1133 33.5441C74.1177 33.8719 74.1205 34.1292 74.1234 34.1292V37.5117ZM95.176 27.5123C94.7505 27.4763 94.2934 27.5899 94.0001 27.9004C93.7917 28.1203 93.6853 28.4165 93.5832 28.7025C92.738 31.086 91.8941 33.4694 91.0489 35.8528C90.1619 33.3026 89.2764 30.7525 88.3894 28.2037C88.3391 28.0585 88.2845 27.909 88.1724 27.8055C88.043 27.6876 87.8619 27.6531 87.6894 27.6229C87.0324 27.5079 86.2605 27.4274 85.7904 27.899C85.5805 28.1103 85.4713 28.3978 85.3692 28.6767C84.5311 30.9494 83.7146 33.2293 82.9211 35.5179C82.5071 34.4584 82.5516 34.4713 82.1376 33.4119C82.0888 33.2897 82.0356 33.1589 81.9263 33.0856C81.8343 33.0237 81.6532 32.9591 81.5454 32.9289C80.3077 32.5853 78.2707 31.9959 76.7713 31.6193C76.7153 30.9738 76.5715 30.4031 76.3372 29.9101C76.0296 29.2632 75.5983 28.7413 75.0463 28.346C74.4914 27.9521 73.833 27.6632 73.0683 27.4806C72.3006 27.3009 71.4525 27.2075 70.521 27.2075C69.7461 27.2075 69.1064 27.2549 68.6019 27.3498C68.0944 27.4447 67.6919 27.5755 67.3929 27.7408C67.0925 27.9061 66.884 28.0959 66.7647 28.3101C66.6454 28.5228 66.5864 28.7413 66.5864 28.9613C66.5864 29.279 66.6698 29.5464 66.8351 29.7663C67.0004 29.9891 67.1313 30.1386 67.2261 30.2163C67.3986 30.0739 67.7595 29.9014 68.3043 29.6944C68.8491 29.4903 69.5722 29.3868 70.4721 29.3868C71.0068 29.3868 71.4985 29.427 71.9412 29.5047C72.3826 29.5852 72.7606 29.7275 73.0783 29.9316C73.3931 30.1372 73.6418 30.4218 73.8244 30.7841C73.902 30.9408 73.9595 31.119 74.0041 31.3102C72.6082 31.142 70.9968 31.0055 70.0681 31.0931C69.0762 31.1866 68.0657 31.3792 67.2247 31.9111C65.412 33.0582 64.791 35.502 65.8461 37.3622C66.355 38.2607 67.2606 38.886 68.2324 39.2339C69.2042 39.5818 70.2478 39.6766 71.28 39.7169C72.8684 39.7787 74.4727 39.6795 76.0497 39.4926C76.3889 39.4553 76.6376 39.4193 76.7958 39.3863V33.9625C78.1039 34.2629 79.6521 34.6913 79.6924 34.7287C80.036 35.0478 81.4778 39.4193 81.5094 39.4193C82.4395 39.4193 83.3696 39.4208 84.2982 39.4222C85.2024 36.7455 86.0635 34.053 86.88 31.349C87.698 34.0588 88.5749 36.7513 89.5121 39.4222C90.4465 39.4222 91.3809 39.4236 92.3168 39.4251C93.6738 35.5797 95.0323 31.7357 96.3893 27.8903C96.3864 27.8889 96.3821 27.8875 96.3792 27.886C95.994 27.7092 95.5943 27.5468 95.1731 27.5108"
                            fill="#312E52"></path>
                        <path
                            d="M79.0239 27.5281C78.5668 27.5281 78.2276 27.6531 78.0047 27.9076C77.7848 28.1592 77.7517 28.3245 77.7517 28.6565C77.7517 28.7183 78.0637 29.7577 78.5337 31.0773L81.6158 31.9571C81.0307 30.3198 80.3206 28.0873 80.2329 27.7653C80.1711 27.7322 80.0417 27.6848 79.8419 27.6229C79.645 27.5597 79.3733 27.5281 79.0239 27.5281Z"
                            fill="#312E52"></path>
                        <path
                            d="M107.789 27.5065C107.346 27.5065 107 27.6057 106.747 27.8026C106.518 27.9809 106.383 28.2626 106.369 28.6407V34.3477C106.369 35.4215 106.111 36.2395 105.598 36.8001C105.085 37.3608 104.314 37.6411 103.288 37.6411C102.262 37.6411 101.511 37.3608 100.989 36.8001C100.469 36.2395 100.207 35.4215 100.207 34.3477V27.7667C100.128 27.7351 99.9658 27.6833 99.7214 27.6129C99.4771 27.5424 99.2126 27.5065 98.9279 27.5065C98.4852 27.5065 98.1387 27.6057 97.8857 27.8026C97.6356 27.9996 97.5091 28.3158 97.5076 28.7528V35.0348C97.5076 35.824 97.65 36.5313 97.9332 37.1552C98.2178 37.7791 98.6174 38.3081 99.1292 38.7422C99.6424 39.1764 100.255 39.5084 100.965 39.737C101.676 39.9656 102.45 40.0806 103.287 40.0806C104.123 40.0806 104.894 39.9656 105.597 39.737C106.3 39.5084 106.908 39.1764 107.421 38.7422C107.934 38.3081 108.338 37.7776 108.63 37.1552C108.922 36.5313 109.068 35.824 109.068 35.0348V27.7667C108.989 27.7351 108.827 27.6833 108.582 27.6129C108.337 27.5424 108.072 27.5065 107.789 27.5065Z"
                            fill="#312E52"></path>
                        <path
                            d="M120.626 28.5171C120.113 28.083 119.505 27.7509 118.802 27.5223C118.099 27.2938 117.33 27.1788 116.492 27.1788C115.654 27.1788 114.88 27.2938 114.17 27.5223C113.46 27.7509 112.847 28.083 112.334 28.5171C111.821 28.9512 111.421 29.4802 111.137 30.1041C110.852 30.728 110.71 31.4353 110.71 32.2245V38.5065C110.711 38.9435 110.838 39.2598 111.088 39.4567C111.341 39.6536 111.689 39.7528 112.13 39.7528C112.415 39.7528 112.679 39.7169 112.924 39.6465C113.168 39.576 113.33 39.5243 113.41 39.4926V32.9131C113.41 31.8392 113.67 31.0213 114.192 30.4606C114.712 29.9 115.48 29.6197 116.49 29.6197C117.501 29.6197 118.287 29.9 118.8 30.4606C119.313 31.0213 119.571 31.8392 119.571 32.9131V38.6201C119.585 38.9981 119.72 39.2784 119.949 39.4581C120.202 39.6551 120.548 39.7543 120.991 39.7543C121.276 39.7543 121.54 39.7183 121.785 39.6479C122.029 39.5775 122.191 39.5257 122.27 39.4941V32.2259C122.27 31.4367 122.125 30.7295 121.832 30.1056C121.54 29.4817 121.136 28.9527 120.623 28.5185"
                            fill="#312E52"></path>
                        <path
                            d="M138.824 27.5266C138.381 27.5266 138.033 27.6301 137.78 27.8343C137.527 28.0398 137.401 28.3561 137.401 28.7816V33.8518C137.401 34.9414 137.125 35.768 136.571 36.3272C136.018 36.8878 135.26 37.1681 134.297 37.1681C133.255 37.1681 132.484 36.8921 131.987 36.3387C131.489 35.7852 131.241 35.0435 131.241 34.112V27.7854C131.162 27.7538 130.999 27.702 130.755 27.6316C130.509 27.5611 130.246 27.5252 129.961 27.5252C129.519 27.5252 129.171 27.6287 128.919 27.8328C128.666 28.0384 128.54 28.3547 128.54 28.7802V34.6568C128.54 35.4302 128.67 36.1187 128.931 36.7182C129.191 37.3191 129.55 37.8193 130.009 38.2233C130.466 38.6258 131.019 38.9349 131.668 39.1476C132.315 39.3604 133.019 39.4682 133.777 39.4682C134.582 39.4682 135.32 39.3302 135.992 39.0527C136.663 38.7767 137.156 38.4087 137.472 37.9502C137.472 41.301 137.025 43.2503 133.515 43.2503C131.567 43.2503 130.213 42.8176 129.677 42.5862C129.59 42.7745 129.179 43.5652 129.405 44.2422C129.553 44.6893 129.966 44.9049 130.385 45.0286C131.623 45.3966 134.143 45.559 135.742 45.2974C139.061 44.754 140.102 42.487 140.102 38.1629V27.7839C140.023 27.7523 139.862 27.7006 139.616 27.6301C139.37 27.5597 139.105 27.5238 138.822 27.5238"
                            fill="#312E52"></path>
                        <path
                            d="M63.7459 36.6866C63.5719 36.8131 63.3146 37.0043 62.9207 37.1466C62.5254 37.2889 62.0985 37.3593 61.6413 37.3593C61.3567 37.3593 61.085 37.3277 60.8234 37.2645C60.5632 37.2012 60.3332 37.0905 60.1362 36.9324C59.9379 36.7743 59.7841 36.5658 59.6748 36.3042C59.5641 36.044 59.508 35.7076 59.508 35.2965V30.0121H64.0578C64.1053 29.9173 64.1685 29.7548 64.2476 29.5262C64.3266 29.2977 64.3655 29.049 64.3655 28.7802C64.3655 28.369 64.2591 28.0571 64.0463 27.8443C63.8336 27.6316 63.4656 27.5238 62.9437 27.5238H59.508V24.4201C59.429 24.3885 59.2665 24.3368 59.0222 24.2663C58.7763 24.1959 58.5133 24.16 58.2286 24.16C57.7859 24.16 57.4394 24.2591 57.1864 24.4561C56.9334 24.6545 56.8069 24.9736 56.8069 25.4164V27.5252H55.4427C54.9209 27.5252 54.5543 27.6316 54.3401 27.8458C54.1274 28.0585 54.021 28.3705 54.021 28.7816C54.021 29.0504 54.0612 29.2991 54.1389 29.5277C54.2179 29.7562 54.2812 29.9187 54.3286 30.0136H56.8069V35.8427C56.8069 37.0115 57.162 37.9559 57.8736 38.6747C58.5851 39.3934 59.6346 39.7528 61.0246 39.7528C61.5134 39.7528 61.9633 39.7097 62.3745 39.622C62.7856 39.5343 63.1565 39.4279 63.4886 39.3014C63.8206 39.1749 64.101 39.0413 64.3295 38.8989C64.5581 38.7566 64.7363 38.6387 64.8628 38.5439C64.8628 38.5439 64.7536 38.0537 64.4531 37.5577C64.1527 37.0618 63.7444 36.6866 63.7444 36.6866"
                            fill="#312E52"></path>
                        <path
                            d="M125.36 27.5266C124.901 27.5266 124.546 27.6258 124.293 27.8228C124.04 28.0211 123.914 28.3403 123.914 28.783V39.4222H126.615V27.7883C126.536 27.7566 126.378 27.7049 126.14 27.6344C125.903 27.564 125.642 27.5281 125.358 27.5281"
                            fill="#312E52"></path>
                        <path
                            d="M125.265 22.1948C124.806 22.1948 124.42 22.353 124.103 22.6692C123.787 22.9855 123.629 23.3722 123.629 23.8307C123.629 24.2893 123.787 24.676 124.103 24.9923C124.42 25.3085 124.806 25.4666 125.265 25.4666C125.723 25.4666 126.11 25.3085 126.426 24.9923C126.743 24.676 126.901 24.2893 126.901 23.8307C126.901 23.3722 126.743 22.9855 126.426 22.6692C126.11 22.353 125.723 22.1948 125.265 22.1948Z"
                            fill="#312E52"></path>
                        <path
                            d="M150.195 37.5117C149.602 37.5721 148.073 37.6425 147.905 37.6454C147.068 37.6612 146.168 37.6195 145.376 37.3234C144.682 37.0632 144.026 36.4911 143.882 35.7493C143.861 35.6415 143.852 35.5279 143.854 35.4129C143.871 34.6582 144.364 33.9467 145.017 33.6045C145.773 33.2078 146.766 33.2581 147.594 33.3098C148.36 33.3573 149.361 33.4493 150.183 33.5427C150.187 33.8705 150.19 34.1278 150.193 34.1278V37.5103L150.195 37.5117ZM151.119 28.3475C150.564 27.9536 149.906 27.6646 149.141 27.4821C148.373 27.3024 147.525 27.2089 146.594 27.2089C145.819 27.2089 145.179 27.2564 144.675 27.3513C144.167 27.4461 143.765 27.577 143.466 27.7423C143.165 27.9076 142.957 28.0973 142.837 28.3115C142.719 28.5243 142.659 28.7428 142.659 28.9627C142.659 29.2804 142.742 29.5478 142.908 29.7678C143.073 29.9906 143.204 30.1401 143.299 30.2177C143.471 30.0754 143.832 29.9029 144.377 29.6959C144.922 29.4917 145.645 29.3882 146.545 29.3882C147.079 29.3882 147.571 29.4285 148.014 29.5061C148.455 29.5866 148.833 29.7289 149.151 29.9331C149.466 30.1386 149.714 30.4233 149.897 30.7855C149.975 30.9422 150.032 31.1205 150.077 31.3117C148.681 31.1435 147.069 31.0069 146.141 31.0946C145.15 31.188 144.138 31.3807 143.297 31.9125C141.485 33.0597 140.864 35.5035 141.919 37.3637C142.428 38.2621 143.333 38.8874 144.305 39.2353C145.277 39.5832 146.32 39.6781 147.353 39.7183C148.941 39.7801 150.545 39.681 152.122 39.4941C152.462 39.4567 152.71 39.4208 152.868 39.3877V32.2561C152.868 31.3418 152.715 30.5598 152.407 29.9101C152.099 29.2632 151.668 28.7428 151.116 28.346"
                            fill="#312E52"></path>
                        <path
                            d="M74.1234 37.5117C73.5311 37.5721 72.0016 37.6425 71.8349 37.6454C70.9968 37.6612 70.0983 37.6195 69.3062 37.3234C68.6119 37.0632 67.9564 36.4911 67.8127 35.7507C67.7911 35.6415 67.781 35.5294 67.7839 35.4144C67.8011 34.6597 68.2942 33.9481 68.9469 33.6059C69.703 33.2092 70.6963 33.2595 71.5244 33.3113C72.2906 33.3587 73.2911 33.4507 74.1133 33.5441C74.1177 33.8719 74.1205 34.1292 74.1234 34.1292V37.5117ZM95.176 27.5123C94.7505 27.4763 94.2934 27.5899 94.0001 27.9004C93.7917 28.1203 93.6853 28.4165 93.5832 28.7025C92.738 31.086 91.8941 33.4694 91.0489 35.8528C90.1619 33.3026 89.2764 30.7525 88.3894 28.2037C88.3391 28.0585 88.2845 27.909 88.1724 27.8055C88.043 27.6876 87.8619 27.6531 87.6894 27.6229C87.0324 27.5079 86.2605 27.4274 85.7904 27.899C85.5805 28.1103 85.4713 28.3978 85.3692 28.6767C84.5311 30.9494 83.7146 33.2293 82.9211 35.5179C82.5071 34.4584 82.5516 34.4713 82.1376 33.4119C82.0888 33.2897 82.0356 33.1589 81.9263 33.0856C81.8343 33.0237 81.6532 32.9591 81.5454 32.9289C80.3077 32.5853 78.2707 31.9959 76.7713 31.6193C76.7153 30.9738 76.5715 30.4031 76.3372 29.9101C76.0296 29.2632 75.5983 28.7413 75.0463 28.346C74.4914 27.9521 73.833 27.6632 73.0683 27.4806C72.3006 27.3009 71.4525 27.2075 70.521 27.2075C69.7461 27.2075 69.1064 27.2549 68.6019 27.3498C68.0944 27.4447 67.6919 27.5755 67.3929 27.7408C67.0925 27.9061 66.884 28.0959 66.7647 28.3101C66.6454 28.5228 66.5864 28.7413 66.5864 28.9613C66.5864 29.279 66.6698 29.5464 66.8351 29.7663C67.0004 29.9891 67.1313 30.1386 67.2261 30.2163C67.3986 30.0739 67.7595 29.9014 68.3043 29.6944C68.8491 29.4903 69.5722 29.3868 70.4721 29.3868C71.0068 29.3868 71.4985 29.427 71.9412 29.5047C72.3826 29.5852 72.7606 29.7275 73.0783 29.9316C73.3931 30.1372 73.6418 30.4218 73.8244 30.7841C73.902 30.9408 73.9595 31.119 74.0041 31.3102C72.6082 31.142 70.9968 31.0055 70.0681 31.0931C69.0762 31.1866 68.0657 31.3792 67.2247 31.9111C65.412 33.0582 64.791 35.502 65.8461 37.3622C66.355 38.2607 67.2606 38.886 68.2324 39.2339C69.2042 39.5818 70.2478 39.6766 71.28 39.7169C72.8684 39.7787 74.4727 39.6795 76.0497 39.4926C76.3889 39.4553 76.6376 39.4193 76.7958 39.3863V33.9625C78.1039 34.2629 79.6521 34.6913 79.6924 34.7287C80.036 35.0478 81.4778 39.4193 81.5094 39.4193C82.4395 39.4193 83.3696 39.4208 84.2982 39.4222C85.2024 36.7455 86.0635 34.053 86.88 31.349C87.698 34.0588 88.5749 36.7513 89.5121 39.4222C90.4465 39.4222 91.3809 39.4236 92.3168 39.4251C93.6738 35.5797 95.0323 31.7357 96.3893 27.8903C96.3864 27.8889 96.3821 27.8875 96.3792 27.886C95.994 27.7092 95.5943 27.5468 95.1731 27.5108"
                            fill="#312E52"></path>
                        <path
                            d="M79.0239 27.5281C78.5668 27.5281 78.2276 27.6531 78.0047 27.9076C77.7848 28.1592 77.7517 28.3245 77.7517 28.6565C77.7517 28.7183 78.0637 29.7577 78.5337 31.0773L81.6158 31.9571C81.0307 30.3198 80.3206 28.0873 80.2329 27.7653C80.1711 27.7322 80.0417 27.6848 79.8419 27.6229C79.645 27.5597 79.3733 27.5281 79.0239 27.5281Z"
                            fill="#312E52"></path>
                        <path
                            d="M107.789 27.5065C107.346 27.5065 107 27.6057 106.747 27.8026C106.518 27.9809 106.383 28.2626 106.369 28.6407V34.3477C106.369 35.4215 106.111 36.2395 105.598 36.8001C105.085 37.3608 104.314 37.6411 103.288 37.6411C102.262 37.6411 101.511 37.3608 100.989 36.8001C100.469 36.2395 100.207 35.4215 100.207 34.3477V27.7667C100.128 27.7351 99.9658 27.6833 99.7214 27.6129C99.4771 27.5424 99.2126 27.5065 98.9279 27.5065C98.4852 27.5065 98.1387 27.6057 97.8857 27.8026C97.6356 27.9996 97.5091 28.3158 97.5076 28.7528V35.0348C97.5076 35.824 97.65 36.5313 97.9332 37.1552C98.2178 37.7791 98.6174 38.3081 99.1292 38.7422C99.6424 39.1764 100.255 39.5084 100.965 39.737C101.676 39.9656 102.45 40.0806 103.287 40.0806C104.123 40.0806 104.894 39.9656 105.597 39.737C106.3 39.5084 106.908 39.1764 107.421 38.7422C107.934 38.3081 108.338 37.7776 108.63 37.1552C108.922 36.5313 109.068 35.824 109.068 35.0348V27.7667C108.989 27.7351 108.827 27.6833 108.582 27.6129C108.337 27.5424 108.072 27.5065 107.789 27.5065Z"
                            fill="#312E52"></path>
                        <path
                            d="M120.626 28.5171C120.113 28.083 119.505 27.7509 118.802 27.5223C118.099 27.2938 117.33 27.1788 116.492 27.1788C115.654 27.1788 114.88 27.2938 114.17 27.5223C113.46 27.7509 112.847 28.083 112.334 28.5171C111.821 28.9512 111.421 29.4802 111.137 30.1041C110.852 30.728 110.71 31.4353 110.71 32.2245V38.5065C110.711 38.9435 110.838 39.2598 111.088 39.4567C111.341 39.6536 111.689 39.7528 112.13 39.7528C112.415 39.7528 112.679 39.7169 112.924 39.6465C113.168 39.576 113.33 39.5243 113.41 39.4926V32.9131C113.41 31.8392 113.67 31.0213 114.192 30.4606C114.712 29.9 115.48 29.6197 116.49 29.6197C117.501 29.6197 118.287 29.9 118.8 30.4606C119.313 31.0213 119.571 31.8392 119.571 32.9131V38.6201C119.585 38.9981 119.72 39.2784 119.949 39.4581C120.202 39.6551 120.548 39.7543 120.991 39.7543C121.276 39.7543 121.54 39.7183 121.785 39.6479C122.029 39.5775 122.191 39.5257 122.27 39.4941V32.2259C122.27 31.4367 122.125 30.7295 121.832 30.1056C121.54 29.4817 121.136 28.9527 120.623 28.5185"
                            fill="#312E52"></path>
                        <path
                            d="M138.824 27.5266C138.381 27.5266 138.033 27.6301 137.78 27.8343C137.527 28.0398 137.401 28.3561 137.401 28.7816V33.8518C137.401 34.9414 137.125 35.768 136.571 36.3272C136.018 36.8878 135.26 37.1681 134.297 37.1681C133.255 37.1681 132.484 36.8921 131.987 36.3387C131.489 35.7852 131.241 35.0435 131.241 34.112V27.7854C131.162 27.7538 130.999 27.702 130.755 27.6316C130.509 27.5611 130.246 27.5252 129.961 27.5252C129.519 27.5252 129.171 27.6287 128.919 27.8328C128.666 28.0384 128.54 28.3547 128.54 28.7802V34.6568C128.54 35.4302 128.67 36.1187 128.931 36.7182C129.191 37.3191 129.55 37.8193 130.009 38.2233C130.466 38.6258 131.019 38.9349 131.668 39.1476C132.315 39.3604 133.019 39.4682 133.777 39.4682C134.582 39.4682 135.32 39.3302 135.992 39.0527C136.663 38.7767 137.156 38.4087 137.472 37.9502C137.472 41.301 137.025 43.2503 133.515 43.2503C131.567 43.2503 130.213 42.8176 129.677 42.5862C129.59 42.7745 129.179 43.5652 129.405 44.2422C129.553 44.6893 129.966 44.9049 130.385 45.0286C131.623 45.3966 134.143 45.559 135.742 45.2974C139.061 44.754 140.102 42.487 140.102 38.1629V27.7839C140.023 27.7523 139.862 27.7006 139.616 27.6301C139.37 27.5597 139.105 27.5238 138.822 27.5238"
                            fill="#312E52"></path>
                    </svg>
                </div>
            </div>
            <div class="static-header false">
                <ul class="static-menu-list">
                    <li class="static-item-header">
                        <div class="lang cursor-pointer" onclick="handleLanguagePopup()">
                            <p>EN</p>
                            <img src="./assets/icons/world.svg" alt="world" class="language" />
                            <img src="./assets/icons/chevron-down.svg" class="language-drop-icon" alt="">
                            <div id="language" class="language-card">
                                <div class="language-card-wrapper">
                                    <div class="language-card-header">
                                        <p class="lang-text"> @_localizer["SuggestedLanguage"].Value </p>
                                        <div class="suggested-language">
                                            <div class="language-selector false">
                                                <p class="lang-text">@_localizer["عربي"].Value </p>
                                                <svg width="22" height="15" fill="none"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="M.5 3a3 3 0 0 1 3-3h15a3 3 0 0 1 3 3v9a3 3 0 0 1-3 3h-15a3 3 0 0 1-3-3V3z"
                                                        fill="#249F58"></path>
                                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                                        d="M16.5 10V9h-11l2 1h6c0 .552.672 1 1.5 1s1.5-.448 1.5-1zM9.23 3.906a.113.113 0 0 0-.053.02c-.054.036-.16.147-.164.275-.003.073-.017.073.03.12.034.048.07.044.138.007a.148.148 0 0 0 .067-.096c.016-.08-.087.04-.1-.052-.023-.084.043-.12.105-.2.002-.04.002-.07-.023-.072v-.002zm1.003.005c-.02.004-.043.03-.076.088-.023.062-.124.156-.05.35.058.123.083.322.056.545-.042.063-.05.085-.105.148-.076.083-.16.062-.222.03-.06-.04-.106-.06-.133-.186.005-.2.017-.532-.02-.602-.054-.108-.144-.07-.182-.037-.183.17-.274.453-.33.68-.05.164-.105.116-.143.05-.093-.088-.1-.77-.212-.657-.18.514.103 1.077.3 1.022.14.06.23-.21.288-.505.04-.083.07-.093.09-.05-.005.392.03.48.13.598.224.174.41.022.425.008l.175-.174c.04-.04.09-.044.145-.008.054.05.047.133.16.19.098.04.303.01.35-.073.065-.11.08-.148.11-.19.046-.06.125-.033.125-.014-.007.035-.053.07-.022.13.055.04.068.014.1.005.114-.054.2-.302.2-.302.005-.092-.047-.085-.08-.066-.045.027-.047.036-.09.063-.057.008-.165.045-.218-.038-.055-.1-.055-.238-.097-.34 0-.006-.073-.157-.006-.166.033.006.107.025.118-.036.036-.06-.077-.23-.154-.314-.066-.073-.158-.082-.247-.008-.063.058-.053.122-.066.183a.29.29 0 0 0 .06.25c.062.122.175.28.137.502 0 0-.065.106-.18.092-.05-.01-.128-.03-.17-.34-.03-.233.008-.56-.09-.713-.023-.057-.042-.113-.074-.11l-.002-.005zm-.318.026c-.03.003-.063.038-.09.105-.023.052-.052.32-.047.32-.02.08.083.114.13.012.07-.19.07-.27.074-.348-.01-.06-.037-.09-.067-.088v-.001zm1.173.02c-.03.004-.055.022-.064.068a.683.683 0 0 0 .012.254c.013.06.1.158.142.216.203.273.4.547.588.83.03.212.05.418.065.624.032.45.04 1.01.013 1.485.084.003.22-.137.267-.34.03-.284-.01-.86-.014-1.028l-.01-.238c.22.36.432.74.64 1.156.077-.036.06-.465.016-.525-.168-.36-.4-.716-.473-.853a6.982 6.982 0 0 0-.225-.346 5.199 5.199 0 0 0-.056-.478c-.035-.24.098.027.08-.112-.044-.24-.176-.402-.332-.622-.05-.07-.05-.086-.127.018a.454.454 0 0 0-.03.275 2.38 2.38 0 0 0-.083-.108l-.255-.216c-.035-.025-.103-.063-.154-.06zm3.476.037c-.015-.002-.03.005-.05.032a.206.206 0 0 0-.07.16c.007.125.03.254.038.38l.01.05c-.014-.016-.026-.03-.033-.036-.247-.26.113-.044-.048-.243-.135-.15-.175-.196-.29-.286-.06-.036-.094-.108-.113.014a2.567 2.567 0 0 0-.01.322c0 .05.053.145.098.2.164.203.332.418.5.642.036.457.045.876.08 1.334-.004.196-.064.456-.12.48 0 0-.088.05-.146-.005-.043-.017-.212-.283-.212-.283-.087-.08-.145-.057-.206 0-.17.164-.248.472-.363.684-.03.047-.113.088-.206-.004-.237-.324-.1-.785-.128-.666-.21.238-.118.632-.07.717.07.14.126.23.26.297.125.09.22.035.274-.03.124-.128.126-.457.184-.522.04-.12.143-.1.193-.046.05.07.106.115.177.153.116.102.254.12.39.027a.45.45 0 0 0 .208-.254c.06-.156.03-.976.017-1.432l.26.376c.036.4.053.795.04 1.173-.008.075.263-.224.26-.366 0-.123.002-.236 0-.34.133.21.26.423.38.64.075-.04.05-.463.003-.52-.126-.212-.288-.44-.413-.618a11.132 11.132 0 0 0-.074-.567c-.023-.126-.047-.315-.083-.464-.01-.057-.04-.243-.03-.26.014-.043.07 0 .097-.048.04-.045-.142-.52-.235-.654-.033-.06-.094-.04-.168.06-.07.064-.044.212-.018.353.068.36.13.724.178 1.09-.09-.135-.2-.297-.308-.452l-.014-.07c0-.008-.014-.295-.027-.363-.003-.028-.01-.036.02-.032.03.026.034.027.053.036.032.004.06-.048.04-.097l-.29-.534c-.01-.013-.024-.025-.04-.027l.005-.001zm-8.97.01c-.055-.002-.113.03-.09.095-.014.035.104.153.125.218.017.047-.02.195.02.21.035.015.084-.104.102-.213.01-.06.003-.266-.137-.308-.007-.002-.014-.002-.022-.003l.002.001zm10.22 0c-.013.002-.028.02-.05.07-.055.09-.074.25-.052.39.13.89.23 1.752.25 2.54-.012.076-.016.116-.05.21-.078.1-.164.224-.245.284-.08.06-.252.118-.308.162-.18.102-.18.22-.036.225.248-.03.542-.05.744-.355.054-.085.118-.317.12-.46.02-.83-.01-1.645-.135-2.246-.008-.06-.034-.193-.024-.21.015-.042.096.003.125-.044.043-.044-.21-.367-.298-.505-.018-.034-.03-.063-.044-.06l.003-.001zm-2.603.014c-.01.002-.024.018-.052.055-.07.226-.094.41-.067.552.18.93.36 1.775.332 2.66.084 0 .182-.193.224-.385.023-.265-.016-.426-.022-.58-.007-.156-.176-1.416-.21-1.533-.042-.222.164-.03.142-.158-.072-.164-.25-.4-.304-.543-.02-.038-.024-.073-.04-.07l-.003.002zm-6.334.018a.068.068 0 0 0-.05.05c-.005.02.008.053-.01.063-.01.01-.048.003-.046-.05 0-.018-.013-.036-.02-.047-.008-.004-.013-.005-.027-.005-.017 0-.017.005-.026.02-.004.014-.01.028-.01.044-.002.02-.01.025-.023.028-.016 0-.013.002-.025-.007-.01-.007-.018-.01-.018-.024a.154.154 0 0 0-.008-.048c-.007-.01-.018-.014-.03-.017-.066 0-.07.078-.067.106-.005.006-.007.14.083.178.12.058.348.033.34-.162 0-.017-.005-.075-.007-.09-.012-.03-.035-.04-.057-.037l.001-.002zm1.626.002a.262.262 0 0 0-.11.03c-.08.077-.1.2-.036.277.06.03.123.09.082.125-.174.185-.627.496-.65.553v.006h.004v.002c.023.015.307.015.338 0h.002c.098-.037.56-.565.56-.565-.024-.02-.046-.036-.07-.057-.026-.022-.023-.044 0-.066.114-.066.078-.213.018-.28a.29.29 0 0 0-.138-.027v.002zm4.25 0c-.012.003-.027.02-.05.07a.764.764 0 0 0-.087.39c.118.82.154 1.537.232 2.357.006.08-.006.194-.058.24-.196.204-.477.454-.783.57-.033.037.082.194.23.194.248-.03.466-.168.67-.535.053-.085.148-.268.15-.41.02-.832-.04-1.48-.166-2.08a.354.354 0 0 1 .008-.146c.016-.02.07 0 .1-.047.042-.044-.114-.403-.202-.54-.018-.035-.028-.063-.044-.062v-.001zm-6.584.027c-.034.004-.066.03-.082.07a2.3 2.3 0 0 0 .01.382c.06.213.077.4.106.617.01.292-.168.126-.16-.018.04-.188.03-.483-.006-.558-.03-.075-.062-.093-.132-.08-.055-.004-.198.15-.238.41 0 0-.034.132-.048.25-.02.133-.108.228-.17-.018-.053-.18-.085-.62-.174-.518-.026.344-.056.95.236 1.012.354.034.158-.598.286-.713.025-.055.07-.056.073.015v.537c-.004.174.11.226.2.262.093-.007.154-.004.19.086l.045.93s.214.06.224-.523c.01-.343-.07-.63-.023-.697.002-.066.086-.07.144-.037.093.065.134.145.278.113.22-.06.35-.166.353-.334-.01-.16-.03-.32-.1-.48.01-.028-.04-.103-.03-.132.038.06.098.056.11 0-.036-.123-.094-.24-.188-.29-.077-.07-.19-.055-.232.087-.02.164.06.358.18.517.024.062.06.165.044.258-.063.036-.126.02-.18-.035 0 0-.173-.13-.173-.16.047-.295.01-.33-.015-.41-.018-.114-.072-.15-.115-.228-.044-.047-.103-.047-.13 0-.078.133-.042.42.014.547.04.118.102.192.073.192-.024.065-.074.05-.11-.027a1.978 1.978 0 0 1-.062-.503c-.015-.132-.032-.415-.12-.487-.023-.032-.05-.043-.077-.04v.003zm1.242 0c-.017.004-.037.014-.06.02-.075.023-.145.088-.123.214.09.54.147.953.236 1.493.013.064-.04.147-.108.14-.116-.08-.145-.24-.343-.232-.144 0-.308.158-.328.308a.756.756 0 0 0 0 .354c.1.12.222.108.328.08.087-.035.16-.12.19-.1.02.033-.002.314-.41.53-.252.114-.452.14-.56-.064-.066-.128.006-.616-.158-.504-.486 1.252 1.137 1.426 1.318.052.012-.04.047-.078.073-.068.01.005.02.02.024.048-.038 1.244-1.256 1.33-1.462.938-.052-.092-.067-.298-.072-.42-.01-.075-.028-.118-.05-.135-.05-.037-.116.06-.13.227-.02.135-.015.172-.015.302.066.983 1.633.56 1.888-.25.126-.42-.003-.737.04-.776l.003-.002h.003l.005-.002c.156.168.374.02.422-.037.02-.03.072-.05.108-.01.12.086.334.045.378-.11.026-.15.048-.304.053-.465-.08.025-.144.043-.17.07a.057.057 0 0 0-.012.023l-.02.133a.013.013 0 0 1-.004.01c-.003.007-.01.012-.014.015-.028.015-.077.007-.08-.034-.037-.17-.192-.192-.286.073-.063.05-.18.06-.19-.016.015-.178-.057-.202-.2-.118l-.138-1.04c.06-.003.114.04.17-.028-.06-.184-.185-.558-.256-.594H7.46l-.01-.01c0-.002-.003-.003-.005-.004L7.44 4.07a.024.024 0 0 1-.01-.003c-.007-.002-.013-.002-.02-.002h.001zm4.842.004c-.062-.002-.13.037-.104.115-.016.043.133.187.157.265.043.12-.033.237.012.254.042.018.1-.125.12-.258.026-.108-.05-.328-.16-.373l-.025-.002v-.001zM8.48 4.2c.028-.002.062.024.08.06.017.04.008.077-.02.084-.03.007-.068-.018-.086-.058-.018-.04-.01-.077.02-.084h.006V4.2zm6.997.182c-.057-.002-.12.04-.094.125-.014.046.12.202.143.288.02.06-.03.256.01.274.038.02.09-.136.11-.28.012-.08-.046-.355-.145-.404a.085.085 0 0 0-.023-.004v.001zm-3.87.096a.415.415 0 0 1 .015.07c.012.05.022.1.032.152a1.772 1.772 0 0 0-.097-.13c-.1-.12.002-.078.05-.092zm.893.438c-.022.004-.043.023-.05.053-.006.018.008.05-.01.06-.01.01-.05.004-.047-.05 0-.018-.013-.037-.02-.047-.008-.005-.013-.007-.027-.007-.017 0-.017.005-.026.02-.004.014-.01.028-.01.045 0 .02-.008.026-.022.03-.016 0-.013 0-.026-.007-.008-.01-.017-.012-.017-.026a.138.138 0 0 0-.008-.048c-.007-.01-.017-.013-.03-.017-.065 0-.07.076-.066.104-.004.006-.007.142.083.18.122.057.35.03.34-.164 0-.017-.005-.075-.006-.09-.013-.03-.036-.04-.057-.037v.001zm-4.07.04a.111.111 0 0 0-.057.018c-.107.058-.148.23-.08.33.06.09.16.057.173.057.105.014.167-.196.167-.196s.003-.06-.12.052c-.054.01-.06-.01-.074-.04a.25.25 0 0 1 .015-.163c.012-.033 0-.054-.024-.056v-.002zm5.753.027c-.06-.003-.123.036-.14.117 0 .048.022.074.018.118-.005.025-.03.04-.092.012.01-.01-.04-.078-.04-.078-.047-.03-.11 0-.152.028a.232.232 0 0 0-.014.185c.068.127.303.343.415.345.002-.114.013-.266.02-.36.002-.036.01-.075.045-.084.034-.01.093.034.093-.003-.006-.072-.02-.18-.06-.23a.124.124 0 0 0-.092-.05zM9.42 5.38l-.003.003s-.002 0-.003.002c-.012.01-.026.03-.057.05-.053.06-.062.103-.06.223.004.013.1.283.183.472.056.197.107.423.07.636-.13.282-.39.535-.643.673-.13.04-.24.026-.27-.002a.166.166 0 0 1-.07-.154V7.28c.212-.148.455-.268.645-.667.056-.153.074-.245.018-.48a.464.464 0 0 0-.11-.224h.002c.036-.017.13.052.145.01a.72.72 0 0 0-.185-.343c-.076-.07-.16-.077-.228-.014-.078.044-.094.2-.057.336.042.102.155.12.235.327.002.014.027.155-.013.213-.034.102-.455.434-.485.454l-.003.002-.002.002h-.004v-.003c-.002-.008 0-.03 0-.063-.003-.062.023-.203.02-.228V6.6c-.14.09-.187.365-.212.447-.353.243-.753.424-.984.67-.12.19.828-.214.938-.263l.003.003c.022.023.023.103.086.176.1.133.308.215.512.164.342-.123.54-.356.74-.615.028-.04.073-.074.115-.042.137.308.535.528 1.048.55.12-.144.063-.215.015-.245-.015-.01-.255-.104-.293-.197-.023-.086.034-.163.148-.22.33-.04.654-.085.968-.186a.844.844 0 0 1 .107-.332c.03-.047.047-.052.054-.058V6.45h.002V6.437l-.054-.032-1.053-.004a.1.1 0 0 1-.028-.015l-.002-.003s-.002 0-.002-.002-.002-.002-.002-.002v.001-.006l.002-.003a.112.112 0 0 1 .033-.02c.252-.033.698-.106.728-.535-.005-.224-.096-.37-.37-.41-.202.015-.346.21-.323.424-.01.057.02.17-.04.183-.386.036-.808.278-.822.452h-.006c0 .002-.002.002-.003.002h-.01c-.025-.008-.057-.05-.052-.107-.015-.3-.113-.64-.265-.9-.055-.055-.08-.077-.094-.08h-.008zm1.008.158a.068.068 0 0 0-.05.052c-.005.02.01.052-.008.062-.01.01-.05.004-.048-.05 0-.017-.013-.036-.02-.047-.008-.005-.013-.006-.026-.006-.017 0-.018.004-.027.018a.14.14 0 0 0-.01.045c-.002.02-.01.026-.023.028-.016 0-.012.003-.025-.005-.008-.008-.018-.012-.018-.026a.183.183 0 0 0-.007-.05c-.007-.007-.018-.01-.03-.014-.067 0-.07.075-.067.104-.005.005-.008.14.082.178.12.058.41.024.34-.163 0-.017-.005-.075-.006-.09-.013-.03-.036-.04-.058-.037l.001.001zm4.065.167h-.01s-.562.4-.575.414c-.056.05-.028.223 0 .203.04.015.605-.368.594-.413.025.002.037-.197-.01-.205l.001.001zm-3.534.06a.143.143 0 0 1 .08.02c.043.026.07.062.065.09v.004c-.002 0-.002 0-.002.002v.002s-.002 0-.002.002-.003.004-.005.006c-.02.02-.066.016-.11-.01-.042-.023-.067-.06-.065-.086v-.003l.005-.01s0-.002.002-.003l.005-.006a.046.046 0 0 1 .027-.01v.002zm-4.918.1c-.29.006-.717.382-.728.59l.92-.44c-.05-.076-.003-.144-.192-.15zm.943.13a.083.083 0 0 1 .074.056.096.096 0 0 1-.017.094v.003c-.014.016-.056.01-.087.01-.037-.002-.055-.008-.077-.038-.012-.035.02-.068.035-.092l.007-.01c.01-.01.03-.018.05-.02l.013-.002.002-.001zm7.4.117c-.053.006-.102.055-.08.133-.014.046.07.207.093.292.02.06-.026.233.015.25.038.02.137-.1.134-.254.01-.08-.028-.37-.127-.418-.012-.003-.024-.004-.036-.003h.001zM8.1 6.396c-.046.003-.087.027-.068.092-.003.046.13.103.137.21.018.046-.03.19.01.202.036.015.086-.1.105-.204.01-.058-.046-.26-.14-.297a.138.138 0 0 0-.045-.004l.001.001zm1.88.256h.012c.118.032.29.036.44.05.123.01.183.104.07.145-.114.038-.223.07-.223.232.014.08.01.122-.002.14 0 .003-.003.005-.004.006 0 0 0 .002-.002.002v.002h-.003l-.007.003h-.005c-.027.005-.066-.02-.095-.036-.07-.05-.265-.17-.293-.43-.004-.06.04-.11.11-.115l.002.001zm-4.594.2c-.007 0-.02.022-.04.047-.174.275-.19.686-.094.81.05.057.134.083.196.065.11-.047.157-.268.13-.348-.035-.057-.064-.066-.1-.018-.077.155-.11.048-.115-.04a1.964 1.964 0 0 1 .022-.435c.01-.06.01-.083 0-.083l.001.002zm5.897.362a.077.077 0 0 0-.04.01.69.69 0 0 0-.163.138c-.024.018-.02.033-.014.065.018.043.05.03.088.01.05-.008.073.025.07.084-.023.075.01.102.01.107 0 .004.047.045.103.013.117-.045.19-.09.355-.125.043 0 .04-.116-.028-.12a.402.402 0 0 0-.26.08c-.055.012-.064-.022-.077-.052-.014-.074.032-.126.022-.182.002.003-.028-.024-.067-.026l.001-.002zm3.776.14l-.08.008c-.036.007-.048.023-.055.067.003.065.043.062.085.088.024.03.04.058-.002.11-.04.035-.067.055-.107.09-.017.032-.03.08.028.096.105.03.348-.128.348-.13.04-.03.026-.087.023-.087-.024-.026-.076-.01-.11-.015-.017 0-.07-.008-.046-.056a.321.321 0 0 0 .045-.084c.015-.036 0-.06-.058-.08a.284.284 0 0 0-.073-.007h.002zm-1.453 3.86c.27.013.522.003.79.016.044.036.023.12-.005.134l-.005.002h-.007l-.226-.006v-.013c-.022-.062-.172-.058-.208-.01v.003c-.002 0-.003.003-.003.004l-.002.005v.012c-.12.015-.225-.004-.343-.008-.035-.043-.03-.12.01-.14v.001z"
                                                        fill="#fff"></path>
                                                </svg>
                                            </div>
                                            <div class="language-selector active">
                                                <p class="lang-text">@_localizer["English"].Value </p>
                                                <svg fill="none" height="15" viewBox="0 0 21 15" width="21"
                                                    xmlns="http://www.w3.org/2000/svg">
                                                    <path
                                                        d="m0 3c0-1.65685 1.34315-3 3-3h15c1.6569 0 3 1.34315 3 3v9c0 1.6569-1.3431 3-3 3h-15c-1.65685 0-3-1.3431-3-3z"
                                                        fill="#fff"></path>
                                                    <g clip-rule="evenodd" fill-rule="evenodd">
                                                        <path d="m0 0h9v7h-9z" fill="#1a47b8"></path>
                                                        <path
                                                            d="m9 0v1h12v-1zm0 2v1h12v-1zm0 2v1h12v-1zm0 2v1h12v-1zm-9 2v1h21v-1zm0 2v1h21v-1zm0 2v1h21v-1zm0 2v1h21v-1z"
                                                            fill="#f93939"></path>
                                                        <path
                                                            d="m1 1v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm-1 1v1h1v-1zm-2 0v1h1v-1zm-2 0v1h1v-1zm-1 1v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm-6 2v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm2 0v1h1v-1zm-1-1v1h1v-1zm-2 0v1h1v-1zm-2 0v1h1v-1z"
                                                            fill="#fff"></path>
                                                    </g>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </header>
        <div class="auth-wrapper">
            <div class="auth-inner-wrapper otp">
                <div class="auth-form-component otp-wrap-container">
                    <h2 class="auth-heading">@_localizer["Verification"].Value </h2>
                    <div class="verify-content">
                        <p class="verificationContent">An SMS will be sent to the following mobile number you have
                            registered with us. </p>
                        <p class="number">@_localizer["xxxxxxxx"].Value </p>
                    </div>
                    <h5 class="code-heading">@_localizer["Verificationcode"].Value </h5>
                    <form class="form-wrapper">
                        <div class="otpPinWrapper">
                            <div class="container-otp" style="display: flex;">
                                <div class="otpPin" style="display: flex; align-items: center;">
                                    <input aria-label="Please enter verification code. Character 1" placeholder="0"
                                        class="otp-input-style  " type="text" autocomplete="off" value=""
                                        style="width: 1em; text-align: center; padding: 0px;">
                                </div>
                                <div class="otpPin" style="display: flex; align-items: center;">
                                    <input aria-label="Character 2" placeholder="0" class="otp-input-style " type="text"
                                        autocomplete="off" value=""
                                        style="width: 1em; text-align: center; padding: 0px;">
                                </div>
                                <div class="otpPin" style="display: flex; align-items: center;">
                                    <input aria-label="Character 3" placeholder="0" class="otp-input-style " type="text"
                                        autocomplete="off" value=""
                                        style="width: 1em; text-align: center; padding: 0px;">
                                </div>
                                <div class="otpPin" style="display: flex; align-items: center;">
                                    <input aria-label="Character 4" placeholder="0" class="otp-input-style " type="text"
                                        autocomplete="off" value=""
                                        style="width: 1em; text-align: center; padding: 0px;">
                                </div>
                            </div>
                        </div>
                        <div class="submit-button-wrapper">
                            <a href="./dashboard.html" class="button button-primary">@_localizer["Verify"].Value </a>
                            <!-- TODO use bellow button while the api will be integrated -->
                            <!-- <button class="button button-primary" type="submit">Verify</button> -->
                        </div>
                        <div class="Toastify"></div>
                    </form>
                    <p class="resend-timer">@_localizer["Resend code in&nbsp; &nbsp; &nbsp; 0"].Value </p>
                    <p class="resend-option">
                        @_localizer["Don’treceiveCode?"].Value
                        <a href="#">
                            <span class="primary-link" to="/">@_localizer["Resend"].Value </span>
                        </a>
                    </p>
                </div>
            </div>
        </div>
        <div class="auth-footer">
            <div class="content-footer">
                <div class="copy-right">
                    <p>Copyright © Tawuniya 2022, all rights reserved</p>
                </div>
                <div class="footer-link">
                    <p class="footer-link-text">@_localizer["TermsandConditions"].Value </p>
                    <p class="footer-link-text">@_localizer["PrivacyPolicy"].Value </p>
                    <p class="footer-link-text">@_localizer["CookiePolicy"].Value </p>
                </div>
            </div>
            <div class="side-content-footer undefined false">
                <div class="footer-support-link">
                    <img src="./assets/images/footer/app-gallery.svg" alt="">
                </div>
                <div class="footer-support-link">
                    <img src="./assets/images/footer/app-store.svg" alt="">
                </div>
                <div class="footer-support-link">
                    <img src="./assets/images/footer/google-play.svg" alt="">
                </div>
            </div>
        </div>
    </div>

    <!-- script  -->
    <script src="~/scripts/language.js"></script>
</body>

</html>